<app-member-filter [(filter)]="memberFilter" (runFilterClicked)="onRunFilterClicked()" [resetFunction]="resetFilter"></app-member-filter>
<app-card title="Members" i18n-title="@@members-list-tbl-title">
  <div class="command-region">
    <button *ngIf="canAddOrUpdateMember" type="button" class="btn btn-sm btn-primary" (click)="createNewMember()">
      <i class="mdi mdi-plus"></i>
      <span i18n="@@members-tbl-btn-create">Create member</span>
    </button>
  </div>
  <app-dg #dg (pageChanged)="onPageChanged($event)" [countFunction]="count" hideSearchInput="true">
    <tr>
      <th i18n="@@members-tbl-member-id">Member ID</th>
      <th i18n="@@members-tbl-name">Name</th>
      <th i18n="@@members-tbl-phone-number">Phone number</th>
      <th i18n="@@members-tbl-registered-on">Registered on</th>
      <th i18n="@@members-tbl-birthday">Birthday</th>
      <th i18n="@@members-tbl-member-point">Point</th>
      <th *ngIf="canAddOrUpdateMember" i18n="@@common-tbl-actions">Actions</th>
    </tr>
    <tbody>
      <tr *ngFor="let member of members">
        <td>{{member.memberId}}</td>
        <td>
          <a class="a-clickable" (click)="navigateToFilterMember(member)">{{member.name}}</a>
        </td>
        <td>{{member.phoneNumber}}</td>
        <td>{{member.create_on | dateFormat}}</td>
        <td>{{member.birthday | dateFormat}}</td>
        <td>{{member.point}} <i class="mdi mdi-star text-snob"></i></td>
        <td *ngIf="canAddOrUpdateMember">
          <div class="row">
            <button class="btn btn-light" (click)="editMember(member._id)">
              <i class="mdi mdi-pencil text-primary"></i>
              <span i18n="@@common-action-edit">Edit</span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </app-dg>
</app-card>