<app-card
  title="Scheduled Notification"
  i18n-title="@@scheduled-notification-tbl-h2-title"
>
  <div class="command-region">
    <button
      type="button"
      class="btn btn-sm btn-primary"
      (click)="createNewScheduledNotification()"
    >
      <i class="mdi mdi-plus"></i>
      <span i18n="@@scheduled-notification-tbl-btn-create"
        >New notification</span
      >
    </button>
  </div>
  <app-dg
    #dg
    (pageChanged)="onPageChanged($event)"
    [countFunction]="count"
    searchLabel="Search by name" 
    i18n-searchLabel="@@scheduled-notification-txt-search"
  >
    <tr>
      <th i18n="@@scheduled-notification-tbl-name">Name</th>
      <th i18n="@@scheduled-notification-tbl-title">Title</th>
      <th i18n="@@scheduled-notification-tbl-content">Content</th>
      <th i18n="@@scheduled-notification-tbl-schedule">Schedule</th>
      <th i18n="@@scheduled-notification-tbl-last-run-at">Last Run At</th>
      <th i18n="@@common-tbl-actions">Actions</th>
    </tr>
    <tbody>
      <tr *ngFor="let notification of notifications">
        <td>
          <a
            class="a-clickable"
            (click)="onNotificationClicked(notification)"
            >{{ notification.name }}</a
          >
        </td>
        <td>{{ notification.title }}</td>
        <td>{{ notification.content }}</td>
        <td>{{ notification.schedule }}</td>
        <td>{{ notification.lastRunAt | dateFormat }}</td>
        <td>
          <div class="row">
            <button
              class="btn btn-light btn-custom-css"
              (click)="editNotification(notification)"
            >
              <i class="mdi mdi-pencil text-primary"></i>
              <span i18n="@@common-action-edit">Edit</span>
            </button>
            <button
              type="button"
              class="btn btn-sm btn-light m-l-1"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i
                class="mdi mdi-dots-horizontal btn-option-custom font-weight-bold"
              ></i>
            </button>
            <div class="dropdown-menu">
              <a
                class="dropdown-item"
                (click)="deleteNotification(notification)"
                href="javascript:;"
                i18n="@@scheduled-notification-btn-delete-notification"
                >Delete notification</a
              >
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </app-dg>
</app-card>
