<app-card title="Push notification"
subTitle="This page allows you pushes a notification to one or many members">
  <app-wizard (cancelClicked)="onWizardCancel()" (finishClicked)="onWizardFinish()">
    <app-wizard-step isFirstStep="true" title="Nội dung" (beforeNext)="beforeNextStep1()">
      <form id="promotionForm" #f="ngForm">
        <div class="row">
          <div class="form-group col-md-12">
            <label for="title">Tiêu đề</label>
            <label class="require">*</label>
            <input id="title" class="form-control" [(ngModel)]="title" [ngModelOptions]="{standalone: true}"  name='title'
              required>
          </div>
          <div class="form-group col-md-12">
            <label i18n="@@give-voucher-notification-message">Nội dung</label>
            <label class="require">*</label>
            <textarea type="number" class="form-control" rows="6" [ngModelOptions]="{standalone: true}" [(ngModel)]="notificationMessage"></textarea>
          </div>
        </div>
      </form>
    </app-wizard-step>
    <app-wizard-step isLastStep="true" i18n-title="@@promotions-create_edit_promotion-wizard_step-custmer_title_field"
      title="Member Target">
      <app-member-home canAddOrUpdateMember="false"></app-member-home>
    </app-wizard-step>
  </app-wizard>
</app-card>
