<app-card
    title="Create notification"
    i18n-title="@@create-scheduled-notification-title"
    subTitle="This page allows you create scheduled notification for a group of members"
    i18n-subTitle="@@create-scheduled-notification-sub-title"
>
    <app-wizard (cancelClicked)="onWizardCancel()" (finishClicked)="onWizardFinish()">
        <app-wizard-step
            isFirstStep="true"
            title="Notification"
            i18n-title="@@create-scheduled-notification-step-1-title"
            (beforeNext)="beforeNextStep1()"
        >
            <form id="createEditScheduledNotificationForm" #f="ngForm">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="schedule-select-2" i18n="@@create-scheduled-notification-step-1-frm-schedule">Schedule</label>
                        <app-select2
                            id="schedule-select-2"
                            [(itemsSource)]="scheduleTypes"
                            [(selectedItem)]="selectedSchedule"
                            (selectedItemChange)="onSelectedScheduleChange()"
                            displayPropertyName="name"
                            [autoClear]="false"
                        ></app-select2>
                    </div>
                    <div class="form-group col-md-12" *ngIf="selectedSchedule && selectedSchedule.id == '3'">
                        <label for="days-input" i18n="@@create-scheduled-notification-step-1-frm-days">Days</label>
                        <label class="require">*</label>
                        <input
                            id="days-input"
                            class="form-control"
                            appInputNumber
                            type="number"
                            [(ngModel)]="selectedDays"
                            [ngModelOptions]="{ standalone: true }"
                            (change)="onSelectedDaysChange()"
                            [ngClass]="{ 'has-error': errors.selectedDays && (isForceValidate || days.dirty || days.touched) }"
                            #days="ngModel"
                        />
                        <label
                            id="days-input-error"
                            class="error mt-2 text-danger ml-0"
                            for="days-input"
                            *ngIf="errors.selectedDays && (isForceValidate || days.dirty || days.touched)"
                            >{{ errors.selectedDays }}</label
                        >
                    </div>
                    <div class="form-group col-md-12" *ngIf="selectedSchedule && selectedSchedule.id == '1'">
                        <label for="day-of-week-select-2" i18n="@@create-scheduled-notification-step-1-frm-day-of-week">Day of week</label>
                        <label class="require">*</label>
                        <app-select2
                            id="day-of-week-select-2"
                            [(itemsSource)]="daysOfWeek"
                            [(selectedItem)]="selectedDayOfWeek"
                            (selectedItemChange)="onSelectedDayOfWeekChange()"
                            placeHolder="Select a day of week"
                            displayPropertyName="name"
                            [ngClass]="{ 'has-error': errors.selectedDayOfWeek && isForceValidate }"
                        ></app-select2>
                        <label
                            id="day-of-week-select-2-error"
                            class="error mt-2 text-danger ml-0"
                            for="day-of-week-select-2"
                            *ngIf="errors.selectedDayOfWeek && isForceValidate"
                            >{{ errors.selectedDayOfWeek }}</label
                        >
                    </div>
                    <div class="form-group col-md-12" *ngIf="selectedSchedule && selectedSchedule.id == '2'">
                        <label for="day-of-month-select-2" i18n="@@create-scheduled-notification-step-1-frm-day-of-month"
                            >Day of month</label
                        >
                        <label class="require">*</label>
                        <app-select2
                            id="day-of-month-select-2"
                            [(itemsSource)]="daysOfMonth"
                            [(selectedItem)]="selectedDayOfMonth"
                            placeHolder="Select a day of month"
                            (selectedItemChange)="onSelectedDayOfMonthChange()"
                            displayPropertyName="name"
                            [ngClass]="{ 'has-error': errors.selectedDayOfMonth && isForceValidate }"
                        ></app-select2>
                        <label
                            id="day-of-month-select-2-error"
                            class="error mt-2 text-danger ml-0"
                            for="day-of-month-select-2"
                            *ngIf="errors.selectedDayOfMonth && isForceValidate"
                            >{{ errors.selectedDayOfMonth }}</label
                        >
                    </div>
                    <div class="form-group col-md-12">
                        <label
                            for="time-to-push-notification-select-2"
                            i18n="@@create-scheduled-notification-step-1-frm-time-to-push-notification"
                            >Time to push notification</label
                        >
                        <label class="require">*</label>
                        <app-select2
                            id="time-to-push-notification-select-2"
                            [(itemsSource)]="timesToPushNotification"
                            [(selectedItem)]="selectedTimeToPushNotification"
                            (selectedItemChange)="onSelectedTimeToPushNotificationChange()"
                            placeHolder="Select a time to push notification"
                            displayPropertyName="name"
                            [ngClass]="{ 'has-error': (errors.selectedTimeToPushNotification && isForceValidate) }"
                        ></app-select2>
                        <label
                            id="time-to-push-notification-select-2-error"
                            class="error mt-2 text-danger ml-0"
                            for="time-to-push-notification-select-2"
                            *ngIf="(errors.selectedTimeToPushNotification && isForceValidate)"
                            >{{ errors.selectedTimeToPushNotification }}</label
                        >
                    </div>
                    <div class="form-group col-md-12">
                        <label for="notification-title-input" i18n="@@create-scheduled-notification-step-1-frm-title"
                            >Notification Title</label
                        >
                        <label class="require">*</label>
                        <input
                            id="notification-title-input"
                            class="form-control"
                            [(ngModel)]="notificationTitle"
                            [ngModelOptions]="{ standalone: true }"
                            (change)="onNotificationTitleChange()"
                            [ngClass]="{ 'has-error': errors.notificationTitle && (isForceValidate || title.dirty || title.touched) }"
                            #title="ngModel"
                        />
                        <label
                            id="notification-title-input-error"
                            class="error mt-2 text-danger ml-0"
                            for="notification-title-input"
                            *ngIf="errors.notificationTitle && (isForceValidate || title.dirty || title.touched)"
                            >{{ errors.notificationTitle }}</label
                        >
                    </div>
                    <div class="form-group col-md-12">
                        <label for="notification-content-textarea" i18n="@@create-scheduled-notification-step-1-frm-content"
                            >Notification Content</label
                        >
                        <label class="require">*</label>
                        <textarea
                            id="title"
                            name="title"
                            class="form-control"
                            rows="6"
                            [ngModelOptions]="{ standalone: true }"
                            [(ngModel)]="notificationContent"
                            (change)="onNotificationContentChange()"
                            [ngClass]="{ 'has-error': errors.notificationContent && (isForceValidate || content.dirty || content.touched) }"
                            #content="ngModel"
                        ></textarea>
                        <label
                            id="notification-content-textarea-error"
                            class="error mt-2 text-danger ml-0"
                            for="notification-content-textarea"
                            *ngIf="errors.notificationContent && (isForceValidate || content.dirty || content.touched)"
                            >{{ errors.notificationContent }}</label
                        >
                    </div>
                </div>
            </form>
        </app-wizard-step>
        <app-wizard-step
            isLastStep="true"
            i18n-title="@@create-scheduled-notification-wizard_step-custmer_title_field"
            title="Customer Target"
        >
            <app-member-home canAddOrUpdateMember="false"></app-member-home>
        </app-wizard-step>
    </app-wizard>
</app-card>
