<app-card
    title="Create notification"
    i18n-title="@@create-scheduled-notification-title"
    subTitle="This page allows you create scheduled notification for a group of members"
    i18n-subTitle="@@create-scheduled-notification-sub-title"
>
    <app-wizard (cancelClicked)="onWizardCancel()" (finishClicked)="onWizardFinish()">
        <app-wizard-step
            isFirstStep="true"
            title="Notification"
            i18n-title="@@create-scheduled-notification-step-1-title"
            (beforeNext)="beforeNextStep1()"
        >
            <form id="createEditScheduledNotificationForm" #f="ngForm">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="schedule-select-2" i18n="@@create-scheduled-notification-step-1-frm-schedule">Schedule</label>
                        <app-select2
                            id="schedule-select-2"
                            [(itemsSource)]="scheduleTypes"
                            [(selectedItem)]="selectedSchedule"
                            placeHolder="Select a schedule"
                            displayPropertyName="name"
                        ></app-select2>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="days-input" i18n="@@create-scheduled-notification-step-1-frm-days">Days</label>
                        <label class="require">*</label>
                        <input
                            id="days-input"
                            class="form-control"
                            appInputNumber
                            type="number"
                            [(ngModel)]="selectedDays"
                            [ngModelOptions]="{ standalone: true }"
                            required
                        />
                    </div>
                    <div class="form-group col-md-12">
                        <label
                            for="time-to-push-notification-select-2"
                            i18n="@@create-scheduled-notification-step-1-frm-time-to-push-notification"
                            >Time to push notification</label
                        >
                        <label class="require">*</label>
                        <app-select2
                            id="time-to-push-notification-select-2"
                            [(itemsSource)]="timesToPushNotification"
                            [(selectedItem)]="selectedTimeToPushNotification"
                            placeHolder="Select a time to push notification"
                            displayPropertyName="name"
                        ></app-select2>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="day-of-week-select-2" i18n="@@create-scheduled-notification-step-1-frm-day-of-week">Day of week</label>
                        <label class="require">*</label>
                        <app-select2
                            id="day-of-week-select-2"
                            [(itemsSource)]="daysOfWeek"
                            [(selectedItem)]="selectedDayOfWeek"
                            placeHolder="Select a day of week"
                            displayPropertyName="name"
                        ></app-select2>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="day-of-month-select-2" i18n="@@create-scheduled-notification-step-1-frm-day-of-month"
                            >Day of month</label
                        >
                        <label class="require">*</label>
                        <app-select2
                            id="day-of-month-select-2"
                            [(itemsSource)]="daysOfMonth"
                            [(selectedItem)]="selectedDayOfMonth"
                            placeHolder="Select a day of month"
                            displayPropertyName="name"
                        ></app-select2>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="notification-title-input" i18n="@@create-scheduled-notification-step-1-frm-title"
                            >Notification Title</label
                        >
                        <label class="require">*</label>
                        <input
                            id="notification-title-input"
                            class="form-control"
                            [(ngModel)]="notificationTitle"
                            [ngModelOptions]="{ standalone: true }"
                            required
                        />
                    </div>
                    <div class="form-group col-md-12">
                        <label for="notification-content-textarea" i18n="@@create-scheduled-notification-step-1-frm-content"
                            >Notification Content</label
                        >
                        <label class="require">*</label>
                        <textarea
                            id="notification-content-textarea"
                            class="form-control"
                            rows="6"
                            [ngModelOptions]="{ standalone: true }"
                            [(ngModel)]="notificationContent"
                        ></textarea>
                    </div>
                </div>
            </form>
        </app-wizard-step>
        <app-wizard-step
            isLastStep="true"
            i18n-title="@@create-scheduled-notification-wizard_step-custmer_title_field"
            title="Customer Target"
        >
            <app-member-home canAddOrUpdateMember="false"></app-member-home>
        </app-wizard-step>
    </app-wizard>
</app-card>
