.login-background {
  background: url('../../../../assets/images/login-bg.jpg') no-repeat center
    center;
  background-size: auto auto;
  background-size: cover;
}

.action-row {
  margin-left: 0px;
  margin-right: 0px;
}

.forgot-container {
  padding: 0px;
  text-align: right;
  vertical-align: middle;
}

.form-container {
  width: 100% !important;
  vertical-align: middle;
  margin-right: 0px;
}

.forgot-password {
  vertical-align: -moz-middle-with-baseline;
  vertical-align: -webkit-baseline-middle;
  font-size: 0.9em;
}