.login-background {
  background: url('../../../../assets/images/login-bg.jpg') no-repeat center center;
  background-size: auto auto;
  background-size: cover;
}

.action-row {
  margin-left: 0px;
  margin-right: 0px;
}

.forgot-container {
  padding: 0px;
  text-align: right;
  vertical-align: middle;
}