<app-card title="User Groups" i18n-title="@@user_groups-list-tbl-title">
  <div class="command-region">
    <button type="button" class="btn btn-sm btn-primary" (click)="createNewUserGroup()">
      <i class="mdi mdi-plus"></i>
      <span i18n="@@user_groups-list-tbl-btn-create">Create User Group</span>
    </button>
  </div>
  <app-dg #dg searchLabel="Search by group name" i18n-searchLabel="@@user_groups-list-tbl-search-label" (pageChanged)="onPageChanged($event)"
    [countFunction]="count" [searchKey]="usergroup">
    <tr>
      <th i18n="@@user_groups-list-tbl-group-name">Group Name</th>
      <th i18n="@@user_groups-list-tbl-user-count">Users</th>
      <th i18n="@@user_groups-list-tbl-scheme">Permission Scheme</th>
      <th i18n="@@user_groups-list-tbl-actions">Actions</th>
    </tr>
    <tbody>
      <tr *ngFor="let usergroup of usergroups | userGroupListFilter: dg.searchKey">
        <td>{{usergroup.name}}</td>
        <td>
          <a class="a-clickable" (click)="navigateToFilterUsers(usergroup)">{{usergroup.userCount}}</a>
        </td>
        <td>
          <a href="#">{{usergroup.permissionScheme.name}}</a>
        </td>
        <td>
          <div class="row">
            <button class="btn btn-light" (click)="editMembers(usergroup)">
              <i class="mdi mdi-account-multiple text-primary"></i>
              <span i18n="@@user_groups-list-tbl-actions-edit-members">Edit members</span>
            </button>
            <div class="dropdown" *ngIf="canAction(usergroup)">
              <button type="button" class="btn btn-light icon-btn dropdown-toggle dropdown-toggle-split more-actions-dropdown-btn" id="dropdownMenuIconButton3" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="mdi mdi-dots-horizontal"></i>
              </button>
              <div class="dropdown-menu more-actions-dropdown" aria-labelledby="dropdownMenuIconButton3" x-placement="bottom-start">
                <a class="dropdown-item" i18n="@@user_groups-list-tbl-actions-change-permission-scheme" (click)="changePermissionScheme(usergroup)">Change permission scheme</a>
                <a class="dropdown-item" i18n="@@user_groups-list-tbl-actions-edit-group-info" (click)="editGroup(usergroup)">Edit group information</a>
                <a class="dropdown-item" i18n="@@user_groups-list-tbl-actions-del-user-group" (click)="deleteUserGroup(usergroup)">Delete user group</a>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </app-dg>
</app-card>
