<app-card title="User Groups" i18n-title="@@user_groups-list-tbl-title">
  <div class="command-region">
    <button type="button" class="btn btn-sm btn-primary" (click)="createNewUserGroup()">
      <i class="mdi mdi-plus"></i>
      <span i18n="@@user_groups-list-tbl-btn-create">Create User Group</span>
    </button>
  </div>
  <app-dg searchLabel="Search by group name" i18n-searchLabel="@@user_groups-list-tbl-search-label" (pageChanged)="onPageChanged($event)"
    [countFunction]="count">
    <tr>
      <th i18n="@@user_groups-list-tbl-group-name">Group Name</th>
      <th i18n="@@user_groups-list-tbl-user-count">Users</th>
      <th i18n="@@user_groups-list-tbl-scheme">Permission Scheme</th>
      <th i18n="@@user_groups-list-tbl-actions">Actions</th>
    </tr>
    <tbody>
      <tr *ngFor="let usergroup of usergroups">
        <td>{{usergroup.name}}</td>
        <td>
          <a href="#">{{usergroup.userCount}}</a>
        </td>
        <td>
          <a href="#">{{usergroup.permissionScheme.name}}</a>
        </td>
        <td class="text-right">
          <button class="btn btn-light">
            <i class="mdi mdi-account-multiple text-primary"></i>
            <span i18n="@@user_groups-list-tbl-actions-edit-members">Edit members</span>
          </button>
        </td>
      </tr>
    </tbody>
  </app-dg>
</app-card>
