<div class="container-fluid page-body-wrapper full-page-wrapper">
  <div class="content-wrapper auth p-0 theme-two">
    <div class="row d-flex align-items-stretch">
      <div class="col-md-5 banner-section d-none d-md-flex align-items-stretch justify-content-center">
        <div class="slide-content login-background">
        </div>
      </div>
      <div class="col-12 col-md-7 h-100 bg-white">
        <div class="auto-form-wrapper d-flex align-items-center justify-content-center">
          <form class="form-container" id="recoveryForm" [formGroup]="formGroup">
            <h1 class="recovery-label" i18n="@@account-recovery-label-recovery-password">Recovery Password</h1>
            <p i18n="@@account-recovery-label-enter-email">Enter your email address below and we'll send you a secure link to reset your password</p>
            <p *ngIf="submitted" class="send-email-success" i18n="@@account-recovery-label-send-success">A password reset email was sent successfully</p>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="mdi mdi-email-outline"></i>
                  </span>
                </div>
                <input type="text" class="form-control" formControlName="email" i18n-placeholder="@@account-recovery-input-email-address"
                  placeholder="Email address">
              </div>
              <label *ngIf="errorMessage.email" id="email-error" class="error mt-2 text-danger" for="email">{{errorMessage.email}}</label>
            </div>
            <div class="recover-container action-container form-group row action-row">
              <button (click)="back()" class="btn-back btn btn-dark btn-fw" i18n="@@account-recovery-button-back">BACK</button>
              <button (click)="submit()" class="btn btn-primary btn-fw" i18n="@@account-recovery-button-reset">RESET PASSWORD</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>