<div class="row">
  <div class="col-md-12">
    <div class="accordion basic-accordion" id="accordion" role="tablist">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h6 class="mb-0">
            <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="collapse">
              <i class="card-icon mdi mdi-tag"></i>
              <span i18n="@@voucher-using-purpose-repeat-one-code">Một mã sử dụng nhiều lần</span>
            </a>
          </h6>
        </div>
        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <div style="margin-top:8px"></div>
            <div class="table-responsive">
              <table class="table center-aligned-table">
                <thead>
                  <tr>
                    <th i18n="@@voucher-campaign-name">Tên chương trình</th>
                    <th i18n="@@voucher-create-edit-voucher-code">Mã voucher</th>
                    <th i18n="@@vouchers-discount">Discount</th>
                    <th i18n="@@voucher-running-effect-from">Có hiệu lực từ ngày</th>
                    <th i18n="@@voucher-running-effect-to">Đến ngày</th>
                    <th i18n="@@voucher-running-usage-limit">Số lần sử dụng</th>
                    <th i18n="@@voucher-running-used-count">Đã sử dụng</th>
                    <th i18n="@@voucher-running-remain-count">Còn lại</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of repeatCodeItems">
                    <td>{{item.voucher.name}}</td>
                    <td>{{item.voucher.code}}</td>
                    <td *ngIf="item.voucher.type == 0">{{item.voucher.discount | currency:'VND':symbol:'1.0-2'}}</td>
                    <td *ngIf="item.voucher.type == 1">{{item.voucher.discount}}%</td>
                    <td *ngIf="item.voucher.type == 2"></td>
                    <td>{{item.start_date | dateTimeFormat}}</td>
                    <td>{{item.end_date | dateTimeFormat}}</td>
                    <td>{{item.usageLimit}}</td>
                    <td>{{item.usedCount}}</td>
                    <td>{{item.remainCount}}</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-light" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="mdi mdi-dots-horizontal btn-option-custom font-weight-bold"></i>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" (click)="editVoucher(item)" href="javascript:;" i18n="@@common-action-edit">Edit</a>
                        <a class="dropdown-item" (click)="delete(item)" href="javascript:;" i18n="@@common-action-delete">Delete</a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="accordion basic-accordion" id="accordion-batch-export" role="tablist">
      <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
          <h6 class="mb-0">
            <a data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" class="collapse">
              <i class="card-icon mdi mdi-tag-multiple"></i>
              <span i18n="@@voucher-using-purpose-export-batch-code">Xuất mã hàng loạt</span>
            </a>
          </h6>
        </div>
        <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <div style="margin-top:8px"></div>
            <div class="table-responsive">
              <table class="table center-aligned-table">
                <thead>
                  <tr>
                    <th i18n="@@voucher-campaign-name">Tên chương trình</th>
                    <th i18n="@@voucher-running-prefix">Tiền tố</th>
                    <th i18n="@@vouchers-discount">Discount</th>
                    <th i18n="@@voucher-running-effect-from">Có hiệu lực từ ngày</th>
                    <th i18n="@@voucher-running-effect-to">Đến ngày</th>
                    <th i18n="@@voucher-running-code-scope">Phạm vi mã</th>
                    <th i18n="@@voucher-running-used-count">Đã sử dụng</th>
                    <th i18n="@@voucher-running-remain-count">Còn lại</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of batchExportItems">
                    <td>{{item.voucher.name}}</td>
                    <td>{{item.prefix}}</td>
                    <td *ngIf="item.voucher.type == 0">{{item.voucher.discount | currency:'VND':symbol:'1.0-2'}}</td>
                    <td *ngIf="item.voucher.type == 1">{{item.voucher.discount}}%</td>
                    <td *ngIf="item.voucher.type == 2"></td>
                    <td>{{item.start_date | dateTimeFormat}}</td>
                    <td>{{item.end_date | dateTimeFormat}}</td>
                    <td>{{item.minRange}} - {{item.maxRange}}</td>
                    <td>{{item.usedCount}}</td>
                    <td>{{item.remainCount}}</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-light" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="mdi mdi-dots-horizontal btn-option-custom font-weight-bold"></i>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" (click)="editVoucher(item)" href="javascript:;" i18n="@@common-action-edit">Edit</a>
                        <a class="dropdown-item" (click)="delete(item)" href="javascript:;" i18n="@@common-action-delete">Delete</a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="accordion basic-accordion" id="accordion-member-care" role="tablist">
      <div class="card">
        <div class="card-header" role="tab" id="headingThree">
          <h6 class="mb-0">
            <a data-toggle="collapse" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" class="collapse">
              <i class="card-icon mdi mdi-tag-multiple"></i>
              <span i18n="@@voucher-using-purpose-member-care">Member care</span>
            </a>
          </h6>
        </div>
        <div id="collapseThree" class="collapse show" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <div style="margin-top:8px"></div>
            <div class="table-responsive">
              <table class="table center-aligned-table">
                <thead>
                  <tr>
                    <th i18n="@@voucher-campaign-name">Tên chương trình</th>
                    <th i18n="@@voucher-create-edit-voucher-code">Mã voucher</th>
                    <th i18n="@@vouchers-discount">Discount</th>
                    <th i18n="@@voucher-running-effect-from">Có hiệu lực từ ngày</th>
                    <th i18n="@@voucher-running-effect-to">Đến ngày</th>
                    <th i18n="@@voucher-running-used-count">Đã sử dụng</th>
                    <th i18n="@@voucher-running-available-code">Available</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of memberCareItems">
                    <td>{{item.voucher.name}}</td>
                    <td>{{item.voucher.code}}</td>
                    <td *ngIf="item.voucher.type == 0">{{item.voucher.discount | currency:'VND':symbol:'1.0-2'}}</td>
                    <td *ngIf="item.voucher.type == 1">{{item.voucher.discount}}%</td>
                    <td *ngIf="item.voucher.type == 2"></td>
                    <td>{{item.start_date | dateTimeFormat}}</td>
                    <td>{{item.end_date | dateTimeFormat}}</td>
                    <td>
                      <a class="a-clickable">{{item.usedCount}}</a>
                    </td>
                    <td>
                      <a class="a-clickable">{{item.remainCount}}</a>
                    </td>
                    <td>
                      <button type="button" class="btn btn-sm btn-light" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="mdi mdi-dots-horizontal btn-option-custom font-weight-bold"></i>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" (click)="editVoucher(item)" href="javascript:;" i18n="@@common-action-edit">Edit</a>
                        <a class="dropdown-item" (click)="delete(item)" href="javascript:;" i18n="@@common-action-delete">Delete</a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
