<div class="input-group date-picker">
    <div class="input-group-prepend">
        <span class="input-group-text pr-0" *ngIf="title">{{title}}:</span>
        <input [id]="elementId" type="text" name="singledate" class="form-control" [ngClass]="inputClasses" (change)="onInputChanged($event)"/>
        <span (click)="onIconClicked()" class="input-group-addon input-group-append border-left">
            <span class="mdi mdi-calendar input-group-text" style="border-right: 1px solid #ced4da;
            border-radius: 0 3px 3px 0;
            border-left: none;"></span>
        </span>
    </div>
</div>