<div class="modal-content">
  <div class="modal-header">
    <div>
      <h5 class="modal-title" style="width: 100%" in18="@@membership-type-create-form-static-benefits-title">Static benefits</h5>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="cmxform">
      <fieldset>
        <div *ngIf="isRepeatAtSpecificDate" class="form-group">
          <label for="applyRangeTime" i18n="@@membership-type-create-form-repeat_at_specific_date-option">Repeat at a specific
            date
          </label>
          <app-date-picker class="datepicker" [(date)]="value"></app-date-picker>
        </div>
        <div *ngIf="isAfterGetPoint" class="form-group">
          <label for="afterGetXPoints" i18n="@@membership-type-create-form-get_x_points-option">After get X points</label>
          <input [(ngModel)]="value" id="afterGetXPoints" class="form-control" [ngModelOptions]="{standalone: true}" type="number"
            placeholder="Enter the target point" i18n-placeholder="@@membership-type-create-form-target-point-placeholder">
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="submit()">Submit</button>
    <button type="button" class="btn btn-light" data-dismiss="modal" (click)="cancel()" i18n="@@common_button-cancel">Cancel</button>
  </div>
</div>