<div class="row">
  <div class="col-md-2 grid-margin stretch-card">
  </div>
  <div class="col-md-8 grid-margin stretch-card">
    <app-card title="Add new membership type" subTitle="Allow add one or many new membership type, new membership type should be added on IPOS system too">
      <form class="cmxform" id="createEditMemberTypeForm" [formGroup]="formGroup">
        <fieldset>
          <!-- Membership type id field -->
          <div class="form-group" [ngClass]="{'has-danger': memberTypeCode.invalid && (memberTypeCode.dirty || memberTypeCode.touched)}">
            <label for="memberTypeCode">Id</label>
            <label class="require">*</label>
            <input [(ngModel)]="memberType.code" required id="memberTypeCode" class="form-control" formControlName="memberTypeCode" type="text"
              [ngClass]="{'has-danger': memberTypeCode.invalid && (memberTypeCode.dirty || memberTypeCode.touched) }" placeholder="Enter membership type id">
            <div class="form-control-feedback" *ngFor="let error of errors.memberTypeCode">
              <p *ngIf="memberTypeCode.hasError(error.type) && (memberTypeCode.dirty || memberTypeCode.touched)" class="error mt-2 text-danger">{{getMessage(error.message, memberTypeCode.value)}}</p>
            </div>
          </div>
          <!-- Membership type name field -->
          <div class="form-group" [ngClass]="{'has-danger': memberTypeName.invalid && (memberTypeName.dirty || memberTypeName.touched)}">
            <label for="memberTypeName">Name</label>
            <label class="require">*</label>
            <input [(ngModel)]="memberType.name" required id="memberTypeName" class="form-control" formControlName="memberTypeName" type="text"
              [ngClass]="{'has-danger': memberTypeName.invalid && (memberTypeName.dirty || memberTypeName.touched) }" placeholder="Enter membership type name">
            <div class="form-control-feedback" *ngFor="let error of errors.memberTypeName">
              <p *ngIf="memberTypeName.hasError(error.type) && (memberTypeName.dirty || memberTypeName.touched)" class="error mt-2 text-danger">{{getMessage(error.message, memberTypeCode.value)}}</p>
            </div>
          </div>
          <!-- Membership type point field -->
          <div class="form-group" [ngClass]="{'has-danger': memberTypePoint.invalid && (memberTypePoint.dirty || memberTypePoint.touched)}">
            <label for="memberTypePoint">Target point</label>
            <input [(ngModel)]="memberType.point" required id="memberTypePoint" class="form-control" formControlName="memberTypePoint" type="number"
              [ngClass]="{'has-danger': memberTypePoint.invalid && (memberTypePoint.dirty || memberTypePoint.touched) }" placeholder="Enter the target point">
            <!-- <div class="form-control-feedback" *ngFor="let error of errors.memberTypePoint">
              <p *ngIf="memberTypePoint.hasError(error.type) && (memberTypePoint.dirty || memberTypePoint.touched)" class="error mt-2 text-danger">{{getMessage(error.message, memberTypeCode.value)}}</p>
            </div> -->
          </div>
          <!-- Form buttons -->
          <button class="btn btn-success mr-2" i18n="@@common_button-submit" (click)="submit()" [disabled]="formGroup.invalid">Submit</button>
          <button class="btn btn-light" i18n="@@common_button-cancel" (click)="cancel()">Cancel</button>
        </fieldset>
      </form>
    </app-card>
  </div>
</div>
