<div class="row">
  <div class="col-md-2 grid-margin stretch-card">
  </div>
  <div class="col-md-8 grid-margin stretch-card">
    <app-card i18n-title="@@member-type-create-title" title="Add new membership type" 
    subTitle="Allow add one or many new membership type, new membership type should be added on IPOS system too"
    i18n-subTitle="@@member-type-create-sub-title">
      <form class="cmxform" id="createEditMemberTypeForm" [formGroup]="formGroup">
        <fieldset>
          <!-- Membership type id field -->
          <div class="form-group" [ngClass]="{'has-danger': memberTypeCode.invalid && (memberTypeCode.dirty || memberTypeCode.touched)}">
            <label for="memberTypeCode" i18n="@@member-type-create-form-code-label">Id</label>
            <label class="require">*</label>
            <input [(ngModel)]="memberType.code" required id="memberTypeCode" class="form-control" formControlName="memberTypeCode" type="text"
              [ngClass]="{'has-danger': memberTypeCode.invalid && (memberTypeCode.dirty || memberTypeCode.touched) }"
              placeholder="Enter membership type id" i18n-placeholder="@@member-type-create-form-code-placeholder">
            <div class="form-control-feedback" *ngFor="let error of errors.memberTypeCode">
              <p *ngIf="memberTypeCode.hasError(error.type) && (memberTypeCode.dirty || memberTypeCode.touched)" class="error mt-2 text-danger">{{getMessage(error.message, memberTypeCode.value)}}</p>
            </div>
          </div>
          <!-- Membership type name field -->
          <div class="form-group" [ngClass]="{'has-danger': memberTypeName.invalid && (memberTypeName.dirty || memberTypeName.touched)}">
            <label for="memberTypeName" i18n="@@member-type-create-form-name-label">Name</label>
            <label class="require">*</label>
            <input [(ngModel)]="memberType.name" required id="memberTypeName" class="form-control" formControlName="memberTypeName" type="text"
              [ngClass]="{'has-danger': memberTypeName.invalid && (memberTypeName.dirty || memberTypeName.touched) }"
              placeholder="Enter membership type name" i18n-placeholder="@@member-type-create-form-name-placeholder">
            <div class="form-control-feedback" *ngFor="let error of errors.memberTypeName">
              <p *ngIf="memberTypeName.hasError(error.type) && (memberTypeName.dirty || memberTypeName.touched)" class="error mt-2 text-danger">{{getMessage(error.message, memberTypeCode.value)}}</p>
            </div>
          </div>
          <!-- Membership type point field -->
          <div class="form-group">
            <label for="memberTypePoint" i18n="@@member-type-create-form-name-target-point">Target point</label>
            <input [(ngModel)]="memberType.point" id="memberTypePoint" class="form-control" formControlName="memberTypePoint" type="number"
              placeholder="Enter the target point" i18n-placeholder="@@member-type-create-form-target-point-placeholder">
          </div>
          <!-- Membership type isActive field -->
          <div class="form-group">
            <div class="form-check form-check-flat chk">
              <label class="form-check-label">
                <input type="checkbox" [(ngModel)]="memberType.isActive" [checked]="memberType.isActive" class="form-check-input"
                [ngModelOptions]="{standalone: true}">
                <i class="input-helper"></i>
                <label class="chk-label" style="margin-top: 5px" i18n="@@member-type-create-form-name-active">Active</label>
              </label>
            </div>
          </div>
          <!-- Form buttons -->
          <div class="form-cmds">
            <button class="btn btn-success mr-2" i18n="@@common_button-submit" (click)="submit()" [disabled]="formGroup.invalid">Submit</button>
            <button class="btn btn-light mr-3" i18n="@@common_button-cancel" (click)="cancel()">Cancel</button>
            <div class="form-check form-check-flat chk">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input form-control"
                [(ngModel)]="isCreateAnother" [ngModelOptions]="{standalone: true}">
                <i class="input-helper"></i>
                <label class="chk-label" i18n="@@common-action-create-another">Create another</label>
              </label>
            </div>
          </div>
        </fieldset>
      </form>
    </app-card>
  </div>
  <div class="col-md-2 grid-margin stretch-card">
  </div>
</div>
