<div class="modal-content">
  <div class="modal-header">
    <div>
      <h5 class="modal-title" i18n="@@change-password-Title">Change Password</h5>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <form class="cmxform" id="changepasswordfrm" #f="ngForm">
    <div class="modal-body">

      <fieldset>
        <!-- Fullname field -->
        <div class="form-group" [ngClass]="{
              'has-danger': CurrentPassword.invalid && (CurrentPassword.dirty || CurrentPassword.touched),
              'has-success': CurrentPassword.valid && (CurrentPassword.dirty || CurrentPassword.touched) }">
          <label for="currentPassword" i18n="@@change-password-field-old-password">Old password</label>
          <input type="password" id="currentPassword" class="form-control" [(ngModel)]="model.old_password" name='currentPassword' #CurrentPassword="ngModel"
            required appNotEqualValidator="newPassword" notEqualReverse="true" />

          <!-- the password  is required -->
          <label id="name-error" class="error mt-2 text-danger" for="name" i18n="@@change-password-old-password-required" *ngIf="CurrentPassword.invalid && CurrentPassword.errors.required && (CurrentPassword.dirty || CurrentPassword.touched)">
          </label>
        </div>

        <div class="form-group" [ngClass]="{
              'has-danger': NewPassword.invalid && (NewPassword.dirty || NewPassword.touched),
              'has-success': NewPassword.valid && (NewPassword.dirty || NewPassword.touched)}">
          <label for="newPassword" i18n="@@change-password-field-new-password">New password</label>
          <input id="newPassword" type="password" class="form-control" [(ngModel)]="model.new_password" name='newPassword' #NewPassword="ngModel"
            required appEqualValidator="confirmPassword" reverse="true" appNotEqualValidator="currentPassword" />
          <!-- the new password is required -->
          <label id="name-error" class="error mt-2 text-danger" for="name" i18n="@@change-password-new-password-required" *ngIf="NewPassword.invalid && NewPassword.errors.required  && (NewPassword.dirty || NewPassword.touched)">
          </label>
          <!-- if the new password is equals the current password show error -->
          <label id="name-error" class="error mt-2 text-danger" for="name" i18n="@@change-password-passowrd-must-diff-old"
           *ngIf="NewPassword.invalid && !NewPassword.errors.required 
           && !NewPassword.errors.appNotEqualValidator  
          && (NewPassword.dirty || NewPassword.touched)">
          </label>
        </div>

        <div class="form-group" [ngClass]="{
              'has-danger': ConfirmPassword.invalid && (ConfirmPassword.dirty || ConfirmPassword.touched),
              'has-success': ConfirmPassword.valid && (ConfirmPassword.dirty || ConfirmPassword.touched)}">
          <label for="confirmPassword" i18n="@@change-password-field-confirm-password">Confirm new password</label>
          <input id="confirmPassword" class="form-control" [(ngModel)]="confirmPassword" name='confirmPassword' #ConfirmPassword="ngModel"
            required appEqualValidator="newPassword" type="password" />

          <!--confirm password is required -->
          <label id="name-error" class="error mt-2 text-danger" for="name" i18n="@@change-password-confirm-password-required" *ngIf="ConfirmPassword.invalid && ConfirmPassword.errors.required
            && (ConfirmPassword.dirty || ConfirmPassword.touched)">
          </label>

          <!-- if the confirm is not equals the new password show error -->
          <label id="name-error" class="error mt-2 text-danger" for="name" i18n="@@change-password-confirm-pw-must-not-diff-new"
           *ngIf="ConfirmPassword.invalid && !ConfirmPassword.errors.required 
              && !ConfirmPassword.errors.validateEqual  
              && (ConfirmPassword.dirty || ConfirmPassword.touched)">
          </label>
        </div>

      </fieldset>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="submit()" i18n="@@change-password-button-submit" [disabled]="f.invalid">Submit</button>
      <button type="button" class="btn btn-light" data-dismiss="modal" (click)="cancel()" i18n="@@change-password-button-cancel">Cancel</button>
    </div>
  </form>
</div>