<app-card title="Filter Tool" i18n-title="@@customers-filter-list-table-lbl-title">
  <form>
    <div class="row">
      <div class="form-group">
        <label i18n="@@customers-filter-list-table-lbl-phone_number">Phone number</label>
        <input class="form-control form-control-lg number-only" i18n-placeholder="@@customers-filter-list-table-placeholder-phone_number"
          placeholder="Phone number contains" aria-label="Username" [(value)]="customerFilter.phoneNumber" type="text">
      </div>
      <br/>
      <div class="form-group">
        <label i18n="@@customers-filter-list-table-lbl-sex">Sex</label>
        <select class="js-example-basic-single" [(value)]="customerFilter.sex" style="width:100%" name="sex">
          <option *ngFor="let item of sexes" [value]="item">{{sexAsString(item)}}</option>
        </select>
      </div>
      <br/>
      <div class="form-group">
        <label i18n="@@customers-filter-list-table-lbl-address">Address</label>
        <div class="form-row">
          <div class="col-auto">
            <app-select2 [itemsSource]="provinces" [(selectedItem)]="customerFilter.province" (selectedItemChange)="onProvinceChange($event)"></app-select2>
          </div>
          <div class="col-auto">
            <app-select2 [itemsSource]="districts" [(selectedItem)]="customerFilter.district"></app-select2>
          </div>
        </div>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="form-group">
        <label i18n="@@customers-filter-list-table-lbl-member_id">Member id</label>
        <input class="form-control form-control-lg" i18n-placeholder="@@customers-filter-list-table-placeholder-member_id" placeholder="Member id contains"
          type="text" [(value)]="customerFilter.memberId">
      </div>
      <br/>
      <div class="form-group">
        <label i18n="@@customers-filter-list-table-lbl-month_of_birthday">Month of birthday</label>
        <app-select2 [itemsSource]="months" [(selectedItem)]="customerFilter.monthOfBirthday"></app-select2>
      </div>
      <br/>
      <app-input-range i18n-title="@@customers-filter-list-table-lbl-day_are_not_returned" title="Days are not returned"></app-input-range>
      <br/>
      <app-input-range i18n-title="@@customers-filter-list-table-lbl-number_of_times_eaten" title="Number of times eaten"></app-input-range>
    </div>
    <br/>

    <div class="row">
      <div class="form-group">
        <label i18n="@@customers-filter-list-table-lbl-name">Name</label>
        <input class="form-control form-control-lg" i18n-placeholder="@@customers-filter-list-table-placeholder-name" placeholder="Name contains"
          type="text" [(value)]="customerFilter.name">
      </div>
      <br/>
      <div class="form-group">
        <label i18n="@@customers-filter-list-table-lbl-member_type">Member type</label>
        <app-select2 [itemsSource]="memberType" [(selectedItem)]="customerFilter.memberType"></app-select2>
      </div>
      <br/>
      <app-input-range i18n-title="@@customers-filter-list-table-lbl-have_score" title="Have score"></app-input-range>
      <br/>
      <app-input-range i18n-title="@@customers-filter-list-table-lbl-spend_money_total" title="Spend money total"></app-input-range>
    </div>
    <br/>

    <div class="row">
      <button type="submit" class="btn btn-primary mr-2" (click)="runFilter()">
        <i class="mdi mdi-filter-outline"></i>
        <span i18n="@@customers-filter-list-table-btn-run_filter">Run filter</span>
      </button>
    </div>
  </form>
</app-card>
<br/>