<div class="modal-content">
  <div class="modal-header">
    <div>
      <h5 class="modal-title" style="width: 100%">About</h5>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="about-frm">
      <div class="about-logo"></div>
      <div style="display:grid">
        <h2 style="text-transform:uppercase">{{cmsTitle}}</h2>
        <label>GUI Version: {{guiVersion}}</label>
        <label>API Version: {{apiVersion}}</label>
        <label>Contact: <a class="text-primary" href="mailto:{{contactMail}}?Subject= Hi Admin"
            target="_top">{{contactMail}}</a></label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block about-copyright">Copyright © 2018
      <a href="{{homepage}}" target="_blank" style="text-transform:uppercase">{{cmsTitle}}</a>. All rights reserved.</span>
    <button type="button" class="btn btn-success" (click)="close()">Ok</button>
  </div>
</div>
