<form class="cmxform" id="createEditVoucherForm">
  <fieldset>
    <div class="row">
      <div class="col-md-12 grid-margin">
        <app-card title="Thông tin voucher" i18n-title="@@voucher-running-edit-title">
          <app-common-create-edit-voucher #commonCreateEditVoucher [isEdit]="true" [voucherGroupType]="voucherGroupType"></app-common-create-edit-voucher>
        </app-card>
      </div>
    </div>

    <!-- Form buttons -->
    <div class="form-cmds always-bottom-panel">
      <button class="btn btn-success mr-2" i18n="@@common_button-submit" (click)="submit()">Submit</button>
      <button class="btn btn-light mr-3" i18n="@@common_button-cancel" (click)="cancel()">Cancel</button>
    </div>
  </fieldset>
</form>
