<div class="row">
  <div class="col-md-2 grid-margin">
  </div>
  <div class="col-md-8 grid-margin">
    <app-card [title]="cardTitle" [subTitle]="cardDescription">
      <form class="cmxform" id="createEditMembershipTypeForm" [formGroup]="formGroup">
        <fieldset>
          <!-- Membership type id field -->
          <div class="form-group" [ngClass]="{'has-danger': membershipTypeCode.invalid && (membershipTypeCode.dirty || membershipTypeCode.touched)}">
            <label for="membershipTypeCode" i18n="@@membership-type-create-form-code-label">Id</label>
            <label class="require">*</label>
            <input [(ngModel)]="membershipType.code" required id="membershipTypeCode" class="form-control" formControlName="membershipTypeCode" type="text"
              [ngClass]="{'has-danger': membershipTypeCode.invalid && (membershipTypeCode.dirty || membershipTypeCode.touched) }"
              placeholder="Enter membership type id" i18n-placeholder="@@membership-type-create-form-code-placeholder">
            <div class="form-control-feedback" *ngFor="let error of errors.membershipTypeCode">
              <p *ngIf="membershipTypeCode.hasError(error.type) && (membershipTypeCode.dirty || membershipTypeCode.touched)" class="error mt-2 text-danger">{{translateService.translate(error.message, membershipTypeCode.value)}}</p>
            </div>
          </div>
          <!-- Membership type name field -->
          <div class="form-group" [ngClass]="{'has-danger': membershipTypeName.invalid && (membershipTypeName.dirty || membershipTypeName.touched)}">
            <label for="membershipTypeName" i18n="@@membership-type-create-form-name-label">Name</label>
            <label class="require">*</label>
            <input [(ngModel)]="membershipType.name" required id="membershipTypeName" class="form-control" formControlName="membershipTypeName" type="text"
              [ngClass]="{'has-danger': membershipTypeName.invalid && (membershipTypeName.dirty || membershipTypeName.touched) }"
              placeholder="Enter membership type name" i18n-placeholder="@@membership-type-create-form-name-placeholder">
            <div class="form-control-feedback" *ngFor="let error of errors.membershipTypeName">
              <p *ngIf="membershipTypeName.hasError(error.type) && (membershipTypeName.dirty || membershipTypeName.touched)" class="error mt-2 text-danger">{{translateService.translate(error.message, membershipTypeCode.value)}}</p>
            </div>
          </div>
          <!-- Membership type point field -->
          <div class="form-group">
            <label for="membershipTypePoint" i18n="@@membership-type-create-form-name-target-point">Target point</label>
            <input [(ngModel)]="membershipType.point" id="membershipTypePoint" class="form-control" formControlName="membershipTypePoint" type="number"
              placeholder="Enter the target point" i18n-placeholder="@@membership-type-create-form-target-point-placeholder">
          </div>
          <!-- Membership type isActive field -->
          <div class="form-group">
            <div class="form-check form-check-flat chk">
              <label class="form-check-label">
                <input type="checkbox" [(ngModel)]="membershipType.isActive" [checked]="membershipType.isActive" class="form-check-input"
                [ngModelOptions]="{standalone: true}">
                <i class="input-helper"></i>
                <label class="chk-label" style="margin-top: 5px" i18n="@@membership-type-create-form-name-active">Active</label>
              </label>
            </div>
          </div>
          <!-- Form buttons -->
          <div class="form-cmds">
            <button class="btn btn-success mr-2" i18n="@@common_button-submit" (click)="submit()" [disabled]="formGroup.invalid">Submit</button>
            <button class="btn btn-light mr-3" i18n="@@common_button-cancel" (click)="cancel()">Cancel</button>
            <div class="form-check form-check-flat chk" *ngIf="!isEdit">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input form-control"
                [(ngModel)]="isCreateAnother" [ngModelOptions]="{standalone: true}">
                <i class="input-helper"></i>
                <label class="chk-label" i18n="@@common-action-create-another">Create another</label>
              </label>
            </div>
          </div>
        </fieldset>
      </form>
    </app-card>
  </div>
  <div class="col-md-2 grid-margin">
  </div>
</div>
