<div class="row">
  <div class="col-md-12 grid-margin">
    <form class="cmxform" id="editable-form" [formGroup]="formGroup">
      <fieldset>
        <div class="col-md-12 grid-margin">
          <app-card [title]="cardTitle" [subTitle]="cardDescription">
            <div class="row">
              <!-- Membership type id field -->
              <div class="col-md-12 col-sm-12">
                <div class="form-group" [ngClass]="{'has-danger': membershipTypeCode.invalid && (membershipTypeCode.dirty || membershipTypeCode.touched)}">
                  <label for="membershipTypeCode" i18n="@@membership-type-create-form-code-label">Id</label>
                  <label class="require">*</label>
                  <input [(ngModel)]="membershipType.code" required id="membershipTypeCode" class="form-control" formControlName="membershipTypeCode"
                    type="text" [ngClass]="{'has-danger': membershipTypeCode.invalid && (membershipTypeCode.dirty || membershipTypeCode.touched) }"
                    placeholder="Enter membership type id" i18n-placeholder="@@membership-type-create-form-code-placeholder">
                  <div class="form-control-feedback" *ngFor="let error of errors.membershipTypeCode">
                    <p *ngIf="membershipTypeCode.hasError(error.type) && (membershipTypeCode.dirty || membershipTypeCode.touched)" class="error mt-2 text-danger">{{translateService.translate(error.message,
                      membershipTypeCode.value)}}
                    </p>
                  </div>
                </div>
              </div>
              <!-- Membership type name field -->
              <div class="col-md-12 col-sm-12">
                <div class="form-group" [ngClass]="{'has-danger': membershipTypeName.invalid && (membershipTypeName.dirty || membershipTypeName.touched)}">
                  <label for="membershipTypeName" i18n="@@membership-type-create-form-name-label">Name</label>
                  <label class="require">*</label>
                  <input [(ngModel)]="membershipType.name" required id="membershipTypeName" class="form-control" formControlName="membershipTypeName"
                    type="text" [ngClass]="{'has-danger': membershipTypeName.invalid && (membershipTypeName.dirty || membershipTypeName.touched) }"
                    placeholder="Enter membership type name" i18n-placeholder="@@membership-type-create-form-name-placeholder">
                  <div class="form-control-feedback" *ngFor="let error of errors.membershipTypeName">
                    <p *ngIf="membershipTypeName.hasError(error.type) && (membershipTypeName.dirty || membershipTypeName.touched)" class="error mt-2 text-danger">{{translateService.translate(error.message,
                      membershipTypeCode.value)}}
                    </p>
                  </div>
                </div>
              </div>
              <!-- Membership type point field -->
              <div class="col-md-12 col-sm-12">
                <div class="form-group">
                  <label for="membershipTypePoint" i18n="@@membership-type-create-form-name-target-point">Target point</label>
                  <input [(ngModel)]="membershipType.point" id="membershipTypePoint" class="form-control" formControlName="membershipTypePoint"
                    type="number" placeholder="Enter the target point" i18n-placeholder="@@membership-type-create-form-target-point-placeholder">
                </div>
              </div>
              <!-- Membership type isAccumulated field -->
              <div class="col-md-12 col-sm-12">
                <div class="form-group">
                  <div class="form-check form-check-flat chk">
                    <label class="form-check-label">
                      <input type="checkbox" [(ngModel)]="membershipType.isAccumulated" [checked]="membershipType.isAccumulated" class="form-check-input"
                        [ngModelOptions]="{standalone: true}">
                      <i class="input-helper"></i>
                      <label class="chk-label" style="margin-top: 5px" i18n="@@membership-type-create-form-accumulate">Accumulate
                        type
                      </label>
                    </label>
                  </div>
                </div>
              </div>
              <!-- Membership type isActive field -->
              <div class="col-md-12 col-sm-12">
                <div class="form-group">
                  <div class="form-check form-check-flat chk">
                    <label class="form-check-label">
                      <input type="checkbox" [(ngModel)]="membershipType.isActive" [checked]="membershipType.isActive" class="form-check-input"
                        [ngModelOptions]="{standalone: true}">
                      <i class="input-helper"></i>
                      <label class="chk-label" style="margin-top: 5px" i18n="@@membership-type-create-form-name-active">Active</label>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </app-card>
        </div>
        <div class="col-md-12 grid-margin">
          <app-card title="Static benefits">
            <div class="form-group">
              <label>Voucher care campaign</label>
              <app-select2-multiple [itemsSource]="vouchers" [(selectedItems)]="selectedVouchers" valuePropertyName="voucherCode" displayPropertyName="voucherName"></app-select2-multiple>
              <table class="table list-wrapper">
                <thead>
                  <tr>
                    <th>Tên chương trình</th>
                    <th>Voucher code</th>
                    <th>Thời điểm add cho user</th>
                    <th>Số ngày có hiệu lực</th>
                    <th>Xoá</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let selectedVoucher of selectedVouchers">
                    <td>
                      <input type="text" [(ngModel)]="selectedVoucher.campaignName" [ngModelOptions]="{standalone: true}" class="form-control">
                    </td>
                    <td>{{selectedVoucher.voucherName}}</td>
                    <td>
                      <select [(ngModel)]="selectedVoucher.schedule" [ngModelOptions]="{standalone: true}" class="form-control border-light" (change)="onApplyMenuTypeChange()">
                        <option value="0">Áp dụng cho nhóm món</option>
                        <option value="1">Áp dụng cho món</option>
                        <option value="2">Áp dụng cho món 2</option>
                        <option value="3">Áp dụng cho món 3</option>
                      </select>
                    </td>
                    <td>
                      <app-input-editable [(value)]="selectedVoucher.validDateCount" isNumberOnly="true"></app-input-editable>
                    </td>
                    <td>
                      <i class="remove mdi mdi-close-circle-outline" (click)="removeVoucherBenefit(selectedVoucher)"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <br/>
            <div class="form-group">
              <label>Non voucher benefits</label>
              <div class="add-items d-flex">
                <input type="text" [(ngModel)]="inputBenefit" [ngModelOptions]="{standalone: true}" class="form-control todo-list-input"
                  placeholder="What do you need to do today?">
                <button class="add btn btn-success font-weight-bold todo-list-add-btn" (click)="addNonBenefit()" id="add-benefit">Add</button>
              </div>
              <div class="tagsinput">
                <span *ngFor="let benefit of benefits" class="tag tag-light">
                  <span>{{benefit}}&nbsp;&nbsp;</span>
                  <a style="cursor: pointer;" title="Removing tag" (click)="removeNonBenefits(benefit)">x</a>
                </span>
              </div>
            </div>
          </app-card>
        </div>
        <!-- Form buttons -->
        <div class="form-cmds always-bottom-panel">
          <button class="btn btn-success mr-2" i18n="@@common_button-submit" (click)="submit()" [disabled]="formGroup.invalid">Submit</button>
          <button class="btn btn-light mr-3" i18n="@@common_button-cancel" (click)="cancel()">Cancel</button>
          <div class="form-check form-check-flat chk" *ngIf="!isEdit">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input form-control" [(ngModel)]="isCreateAnother" [ngModelOptions]="{standalone: true}">
              <i class="input-helper"></i>
              <label class="chk-label" i18n="@@common-action-create-another">Create another</label>
            </label>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>