<ul class="nav">
  <li class="nav-item nav-profile">
    <div class="nav-link">
      <div class="profile-image">
        <img src="{{currentUser.avatar}}" alt="image" />
        <span class="online-status online"></span>
      </div>
      <div class="profile-name">
        <p class="name">{{currentUser.fullname}}</p>
        <p class="designation"></p>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="cursor: pointer;" (click)="navigateToUsersPage()" aria-controls="icons">
      <img class="menu-icon" src="../../../../assets/images/menu_icons/12.png" alt="menu icon">
      <span class="menu-title" i18n="@@layout-sidebar-anchor-user-management">User Management</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#page-layouts" aria-controls="page-layouts">
      <img class="menu-icon" src="../../../../assets/images/menu_icons/01.png" alt="menu icon">
      <span class="menu-title" i18n="@@layout-sidebar-anchor-permission-management">Permission Management</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="page-layouts">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click)="navigateToPermissionSchemesPage()" aria-controls="icons">
            <span i18n="@@layout-sidebar-anchor-permission-schemes">Permisson Schemes</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click)="navigateToUserGroupsPage()" aria-controls="icons">
            <span i18n="@@layout-sidebar-anchor-user-group-management">User Groups</span>
          </a>
        </li>
      </ul>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="cursor: pointer;" (click)="navigateToNewsPage()" aria-controls="icons">
      <img class="menu-icon" src="../../../../assets/images/menu_icons/08.png" alt="menu icon">
      <span class="menu-title" i18n="@@layout-sidebar-anchor-news-management">News Management</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#page-promotion-layouts" aria-controls="page-promotion-layouts">
      <img class="menu-icon" src="../../../../assets/images/menu_icons/17.png" alt="menu icon">
      <span class="menu-title" i18n="@@layout-sidebar-anchor-promotion-management">Promotion Management</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="page-promotion-layouts">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click)="navigateToPromotionPage()">
            <span i18n="@@layout-sidebar-anchor-promotion">Promotion</span>
          </a>
        </li>
      </ul>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#crm-marketing-sub-menu" aria-controls="crm-marketing-sub-menu">
      <img class="menu-icon" src="../../../../assets/images/menu_icons/10.png" alt="menu icon">
      <span class="menu-title" i18n="@@layout-sidebar-anchor-crm-marketing">CRM - Marketing</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="crm-marketing-sub-menu">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click)="navigateToCustomerManagementPage()" aria-controls="icons">
            <span i18n="@@layout-sidebar-anchor-crm-marketing-customer-management">Customer Management</span>
          </a>
        </li>
      </ul>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#member-type-sub-menu" aria-controls="member-type-sub-menu">
      <img class="menu-icon" src="../../../../assets/images/menu_icons/10.png" alt="menu icon">
      <span class="menu-title" i18n="@@member-type-config-menu">Membership Configuration</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="member-type-sub-menu">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click)="navigateToMemberTypeListPage()" aria-controls="icons">
            <span i18n="@@member-type-menu">Member Type</span>
          </a>
        </li>
      </ul>
    </div>
  </li>
</ul>
