<ul class="nav">
  <li class="nav-item nav-profile">
    <div class="nav-link">
      <div class="profile-image">
        <img src="https://placehold.it/100x100" alt="image" />
        <span class="online-status online"></span>
      </div>
      <div class="profile-name">
        <p class="name">Admin</p>
        <p class="designation">Administrator</p>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/demo">
      <img class="menu-icon" src="../../../../assets/images/menu_icons/01.png" alt="menu icon">
      <span class="menu-title" i18n="@@layout-sidebar-anchor-demo">Demo</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#users" aria-controls="icons">
      <img class="menu-icon" src="../../../../assets/images/menu_icons/18.png" alt="menu icon">
      <span class="menu-title" i18n="@@layout-sidebar-anchor-user-management">User Management</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="users">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item">
          <a class="nav-link" routerLink="/users/create">Create new user</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateToUsersPage()">View user detail</a>
        </li>
      </ul>
    </div>
  </li>
</ul>