<ul class="nav">
  <li class="nav-item nav-profile">
    <div class="nav-link">
      <div class="profile-image">
        <img src="{{currentUser.avatar}}" alt="image" />
        <span class="online-status online"></span>
      </div>
      <div class="profile-name">
        <p class="name">{{currentUser.fullname}}</p>
        <p class="designation">Administrator</p>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/datagrid-demo">
      <img class="menu-icon" src="../../../../assets/images/menu_icons/01.png" alt="menu icon">
      <span class="menu-title">Datagrid Demo</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/modal-demo">
      <img class="menu-icon" src="../../../../assets/images/menu_icons/01.png" alt="menu icon">
      <span class="menu-title">Modal Demo</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/demo">
      <img class="menu-icon" src="../../../../assets/images/menu_icons/01.png" alt="menu icon">
      <span class="menu-title" i18n="@@layout-sidebar-anchor-demo">Demo</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="cursor: pointer;" (click)="navigateToUsersPage()" aria-controls="icons">
      <img class="menu-icon" src="../../../../assets/images/menu_icons/01.png" alt="menu icon">
      <span class="menu-title" i18n="@@layout-sidebar-anchor-user-management">User Management</span>
    </a>
  </li>
</ul>