<div class="accordion basic-accordion" id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h6 class="mb-0">
        <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
          <i class="card-icon mdi mdi-filter-outline"></i>
          <span i18n="@@common_title-filter-tool">Filter Tool</span>
        </a>
      </h6>
    </div>
    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
      <div class="card-body">
        <form>
          <div class="row">
            <div class="form-group">
              <label i18n="@@members-filter-list-table-lbl-phone_number">Phone number</label>
              <input class="form-control form-control-lg number-only" i18n-placeholder="@@members-filter-list-table-placeholder-phone_number"
                placeholder="Phone number contains" aria-label="Username" [(ngModel)]="filter.phoneNumber" [ngModelOptions]="{standalone: true}"
                type="text">
            </div>
            <br/>
            <div class="form-group">
              <label i18n="@@members-filter-list-table-lbl-sex">Sex</label>
              <app-select2 [itemsSource]="sexes" [(selectedItem)]="filter.sex"></app-select2>
            </div>
            <br/>
            <div class="form-group">
              <label i18n="@@members-filter-list-table-lbl-address">Address</label>
              <app-address #filterAddress [(cityProvince)]="filter.province" [(district)]="filter.district"></app-address>
            </div>
          </div>
          <br/>

          <div class="row">
            <div class="form-group">
              <label i18n="@@members-filter-list-table-lbl-member_id">Member id</label>
              <input class="form-control form-control-lg" i18n-placeholder="@@members-filter-list-table-placeholder-member_id" placeholder="Member id contains"
                type="text" [(ngModel)]="filter.memberId" [ngModelOptions]="{standalone: true}">
            </div>
            <br/>
            <div class="form-group">
              <label i18n="@@members-filter-list-table-lbl-month_of_birthday">Month of birthday</label>
              <app-select2 [itemsSource]="months" [(selectedItem)]="filter.monthOfBirthday"></app-select2>
            </div>
            <br/>
            <app-input-range  [range]="filter.daysAreNotReturned"i18n-title="@@members-filter-list-table-lbl-day_are_not_returned" title="Days are not returned"></app-input-range>
            <br/>
            <app-input-range  [range]="filter.totalOrders" i18n-title="@@members-filter-list-table-lbl-number_of_times_eaten" title="Number of times eaten"></app-input-range>
          </div>
          <br/>

          <div class="row">
            <div class="form-group">
              <label i18n="@@members-filter-list-table-lbl-name">Name</label>
              <input class="form-control form-control-lg" i18n-placeholder="@@members-filter-list-table-placeholder-name" placeholder="Name contains"
                type="text" [(ngModel)]="filter.name" [ngModelOptions]="{standalone: true}">
            </div>
            <br/>
            <div class="form-group">
              <label i18n="@@members-filter-list-table-lbl-member_type">Member type</label>
              <app-select2 [itemsSource]="membershipTypes" valuePropertyName="_id" displayPropertyName="name" [(selectedItem)]="filter.membershipType"></app-select2>
            </div>
            <br/>
            <app-input-range [range]="filter.point" i18n-title="@@members-filter-list-table-lbl-have_score" title="Have score"></app-input-range>
            <br/>
            <app-input-range  [range]="filter.amount" i18n-title="@@members-filter-list-table-lbl-spend_money_total" title="Spend money total"></app-input-range>
          </div>
          <br/>

          <div class="row" style="margin-left: -4px">
            <button type="submit" class="btn btn-primary mr-2" (click)="runFilter()">
              <i class="mdi mdi-filter-outline"></i>
              <span i18n="@@common_title-filter-run">Run filter</span>
            </button>
            <button type="submit" class="btn btn-light mr-2" (click)="resetFilter()">
              <i class="mdi mdi-filter-remove-outline"></i>
              <span i18n="@@common_title-filter-reset">Reset filter</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
