<div class="row">
  <div class="col-md-4 grid-margin" *ngFor="let memberType of memberTypes">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-row align-items-top">
          <i class="mdi mdi-facebook text-facebook icon-md"></i>
          <div class="ml-3">
            <h6 class="text-facebook">2.62 Subscribers</h6>
            <p class="mt-2 text-muted card-text">You main list growing</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
