<app-card>
  <app-wizard>
      <app-wizard-step isFirstStep="true" title="Account">
          <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password">
          </div>
          <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" placeholder="Confirm password">
          </div>
      </app-wizard-step>
      <app-wizard-step title="Profile">
          <div class="form-group">
            <label>First name</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter first name">
          </div>
          <div class="form-group">
            <label>Last name</label>
            <input type="password" class="form-control" placeholder="Last name">
          </div>
          <div class="form-group">
            <label>Profession</label>
            <input type="password" class="form-control" placeholder="Profession">
          </div>
      </app-wizard-step>
     <app-wizard-step isLastStep="true" title="Comments">
        <div class="form-group">
          <label>Comments</label>
          <textarea class="form-control" rows="3"></textarea>
        </div>
     </app-wizard-step>
  </app-wizard>
</app-card>