.login-background {
  background: url('../../../../../assets/images/login-bg.jpg') no-repeat center
    center;
  background-size: auto auto;
  background-size: cover;
}

.recovery-label {
  font-weight: bold;
  font-size: 2.5em;
  color: black;
}

.form-container {
  width: 100% !important;
  vertical-align: middle;
  margin-right: 0px;
}

.recover-container {
  justify-content: flex-end;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.btn-back {
  margin-right: 10px;
}

.send-email-success {
  color: #00E676;
  text-align: center;
}
