<app-promotion-filter [(filter)]="promotionFilter" (runFilterClicked)="onRunFilterClicked()" [resetFunction]="resetFilter"></app-promotion-filter>

<app-card title="Promotions" i18n-title="@@list-promotions-title-promtions">
  <div class="command-region">
    <button type="button" class="btn btn-primary btn-fw pull-right" (click)="navigateToCreate()">
      <i class="mdi mdi-plus"></i>
      <span i18n="@@promotions-create_promotion-app-card-promotions_title_field">Create promotions</span>
    </button>
  </div>
  <app-dg #dg searchLabel="Search by title, content" i18n-searchLabel="@@list-promotions-filter-placeholders" (pageChanged)="onPageChanged($event)"
    [countFunction]="count" hideSearchInput="true">
    <tr>
      <th i18n="@@list-promotions-th-title" style="width: 15%">Title</th>
      <th i18n="@@list-promotions-th-content" style="width: 30%">Content</th>
      <th i18n="@@list-promotions-th-status">Status</th>
      <th i18n="@@list-promotions-th-start-date">Start Date</th>
      <th i18n="@@list-promotions-th-expỉre-date">Expire Date</th>
      <th i18n="@@list-promotions-btn-actions">Actions</th>
    </tr>
    <tbody>
      <tr *ngFor="let item of items">
        <td>
          <p class="a-clickable pull-left" (click)="navigateToDetail(item._id)">{{item.title}}</p>
        </td>
        <td class="cut-text">{{item.brief_content}} </td>
        <td appPromotionStatus [status]="item.status"></td>
        <td>{{item.start_date | promotionDate:'dd/MM/y'}}</td>
        <td>{{item.expire_date | promotionDate:'dd/MM/y'}}</td>
        <td>
          <button type="button" class="btn btn-light btn-custom-css" (click)="navigateToEdit(item._id)">
            <i class="mdi mdi-pencil text-primary" aria-hidden="false"></i>
            <span i18n="@@list-promotions-btn-edit">Edit</span>
          </button>
          <button type="button" class="btn btn-light btn-custom-css" appStartStopButton [status]="item.status" [buttonSize]="0" (click)="startStopPromotion(item)">
          </button>
          <button type="button" class="btn btn-sm btn-light " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="mdi mdi-dots-horizontal btn-option-custom font-weight-bold"></i>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="javascript:;" i18n="@@list-promotions-btn-delete" (click)="deletePromotion(item)">Delete promotion</a>
          </div>
        </td>
      </tr>
    </tbody>
  </app-dg>
</app-card>