.cut-text { 
  display: inline-block;
  overflow: hidden !important;
  text-overflow: ellipsis;
  word-wrap: break-word;
  text-align: justify;
}
:host >>> .table td {
  line-height: normal !important;
}