<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">This is hosted modal title</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <p>this is hosted modal content</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="submit()">Submit</button>
    <button type="button" class="btn btn-light" data-dismiss="modal" (click)="cancel()">Cancel</button>
  </div>
</div>
