<app-card title="" subTitle="">
    <form class="cmxform" id="createEditForm" [formGroup]="formGroup">
      <div class="row">
        <div class="col-md-12">
          <!-- Title field -->
          <div class="form-group OnTop">
            <label for="email" i18n="@@news-create_edit_news-label-title_field">Title </label>
            <label class="require">*</label>
            <input id="email" class="form-control" formControlName="title" i18n-placeholder="@@news-create_edit_news-input-title_place_holder"
              placeholder="Enter title"> {{news.title}}
            <!-- <label id="title-error" class="error mt-2 text-danger" for="title" *ngIf="errorMessage.title"> {{ errorMessage.title }}</label>-->
          </div>

          <!-- Banner & content field -->
          <div class="form-group">
            <div class="row">
              <div class="col">
                <label for="banner" i18n="@@news-create_edit_news-label-banner_field">Banner </label>
                <label class="require">*</label>
                <input id="banner" class="form-control" formControlName="banner" type="text" i18n-placeholder="@@news-create_edit_news-input-banner_place_holder"
                  placeholder="Enter banner"> {{news.banner}}
                <!-- <label id="banner-error" class="error mt-2 text-danger" for="banner" *ngIf="errorMessage.banner"> {{ errorMessage.fullname }}</label>-->
              </div>

              <div class="col">
                <label for="content" i18n="@@news-create_edit_news-label-content_field">Content </label>
                <label class="require">*</label>
                <input id="content" class="form-control" formControlName="content" type="text" i18n-placeholder="@@news-create_edit_news-input-content_place_holder"
                  placeholder="Enter content">{{news.content}}
                <!-- <label id="content-error" class="error mt-2 text-danger" for="branch" *ngIf="errorMessage.content"> {{ errorMessage.content }}</label>-->
              </div>
            </div>
          </div>

          <!-- TODO: create a new one check box-->

          <!-- Form buttons -->
          <button class="btn btn-success mr-2" i18n="@@news-create_edit_news-button-submit" (click)="submit()">Submit</button>
          <button class="btn btn-success " i18n="@@news-create_edit_news-button-submit_publish" (click)="submitAndPublishNews()">Submit & publish</button>
          <button class="btn btn-light" i18n="@@news-create_edit_news-button-cancel" (click)="cancel()">Cancel</button>

        </div>
      </div>
    </form>
</app-card>