<div class="row profile-page">
  <div class="col-12">
    <div class="d-flex flex-row">
      <img src="https://placehold.it/100x100" class="img-lg rounded" alt="profile image" />
      <div class="ml-3 col-md-9">
        <h6>Thomas Edison</h6>
        <p class="text-muted">thomas@gmail.com</p>
        <p class="mt-2 text-success font-weight-bold">Developer</p>

      </div>

      <div class="md-3 col-md-12">
        <a routerLink="/users/edit-user">
          <button type="button" class="btn btn-primary btn-sm">
            <i class="mdi mdi-pencil" aria-hidden="false"></i>Edit User
          </button>
        </a>

        <button type="button" class="btn btn-sm btn-light " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="mdi mdi-dots-horizontal"></i>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>

      </div>
    </div>
    <div class="profile-body">
      <ul class="nav tab-switch" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="user-profile-info-tab" data-toggle="pill" href="#user-profile-info" role="tab" aria-controls="user-profile-info"
            aria-selected="true">User Statistics</a>
        </li>

      </ul>
      <div class="row">
        <div class="col-md-9">
          <div class="tab-content tab-body" id="profile-log-switch">
            <div class="tab-pane fade show active pr-3" id="user-profile-info" role="tabpanel" aria-labelledby="user-profile-info-tab">
              <table class="table table-borderless w-100 mt-4">
                <tr>
                  <td>
                    <strong>Full Name :</strong> Johnathan Deo</td>
                  <td>
                    <strong>Website :</strong> staradmin.com</td>
                </tr>
                <tr>
                  <td>
                    <strong>Location :</strong> USA</td>
                  <td>
                    <strong>Email :</strong> Richard@staradmin.com</td>
                </tr>
                <tr>
                  <td>
                    <strong>Languages :</strong> English, German, Spanish.</td>
                  <td>
                    <strong>Phone :</strong> +73646 4563</td>
                </tr>
              </table>

            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
