<!-- partial -->
<div class="card">
  <div class="card-body">
    <div class="row">
      <h4 class="card-title col-md-10">Users</h4>
      <div class="col-md-2">
        <button type="button" class="btn btn-primary btn-fw pull-right" (click)="navigateToCreatePage()">
          <i class="mdi mdi-plus"></i>Create User</button>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <app-dg #dg [countFunction]="count" searchLabel="Search username, fullname or email" (pageChanged)="onPageChanged($event)">
          <tr role="row">
            <th>Full Name</th>
            <th>Username</th>
            <th>Login Details</th>
            <th>Group Name</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          <tbody>
            <tr *ngFor="let item of items | demoFilter: dg.searchKey">
              <td class="change-color">
                <div class="user">
                  <img src="{{imagePath}}" class="img-sm rounded " alt="profile image" style="width: 15px !important; height: 15px !important;"/>
                  <p class="u-name" style="float: left;" (click)="navigateToEditPage()">{{item.customer}}</p>
                </div>
              </td>
              <td>
                <p class="text-gray mb-0 ellipsor">{{item.customer}}</p>
                <span class="change-color ellipsor">
                  <a href="mailto:webmaster@example.com">webmaster@example.com</a>
                </span>
              </td>
              <td>
                <div>
                  <strong class="dropdown">Count: </strong>45</div>
                <strong class="dropdown">Last: </strong>{{item.purchasedOn}}
              </td>
              <td class="change-color">{{item.shipTo}}</td>
              <td>
                <label class="badge badge-info">{{item.status}}</label>
              </td>
              <td>
                <button type="button" class="btn btn-light btn-custom-css" (click)="navigateToUserDetailPage()">
                  <i class="mdi mdi-pencil btn-pink" aria-hidden="false"></i>Edit</button>
                <button type="button" class="btn btn-sm btn-light " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="mdi mdi-dots-horizontal btn-option-custom"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" (click)="navigateToChangeUserGroup()" href="javascript:;">Change user group</a>
                  <a class="dropdown-item" (click)="showConfirm()" href="javascript:;">Delete user</a>
                </div>
              </td>
            </tr>
          </tbody>
        </app-dg>
      </div>
    </div>
  </div>
</div>
<!-- partial -->
