<!-- partial -->
<div class="card">
  <div class="card-body">
    <div class="row">
      <h4 class="card-title col-md-10">Users</h4>
      <div class="col-md-2">
        <button type="button" class="btn btn-primary btn-fw pull-right" (click)="navigateToCreatePage()">
          <i class="mdi mdi-plus"></i>Create User</button>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <table id="datatables" class="table">
          <thead>
            <tr>
              <th>{{ dataTable.headerRow[0] }}</th>
              <th>{{ dataTable.headerRow[1] }}</th>
              <th>{{ dataTable.headerRow[2] }}</th>
              <th>{{ dataTable.headerRow[3] }}</th>
              <th>{{ dataTable.headerRow[4] }}</th>
              <th>{{ dataTable.headerRow[5] }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of dataTable.dataRows">
              <td class="change-color">
                <div class="user">
                  <img src="{{imagePath}}" class="img-sm rounded " alt="profile image" />
                  <p class="u-name" style="float: left;" (click)="navigateToEditPage()">{{row[0]}}</p>
                </div>
              </td>
              <td>
                <p class="text-gray mb-0 ellipsor">{{row[1]}}</p>
                <span class="change-color ellipsor">
                  <a href="mailto:webmaster@example.com">webmaster@example.com</a></span>
              </td>
              <td>

                <div>
                  <strong class="dropdown">Count: </strong>45</div>
                <strong class="dropdown">Last: </strong>{{row[2]}}

              </td>
              <td class="change-color">{{row[3]}}</td>
              <td>
                <label class="badge badge-{{row[4]}}">On hold</label>
              </td>

              <td>
                <button type="button" class="btn btn-light btn-custom-css" (click)="navigateToUserDetailPage()">
                  <i class="mdi mdi-pencil btn-pink" aria-hidden="false"></i>Edit</button>
                <button type="button" class="btn btn-sm btn-light " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="mdi mdi-dots-horizontal btn-option-custom"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" (click)="showEditUserGroup()" href="javascript:;">Edit user groups</a>
                  <a class="dropdown-item" (click)="showConfirm()" href="javascript:;">Delete user</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- partial -->
