<div role="application" class="wizard clearfix" id="steps-uid-0">
  <div class="steps clearfix">
    <ul role="tablist">
      <li role="tab" *ngFor="let step of wizardSteps; let i = index" [ngClass]="step.headerClasses">
        <a>
          <span class="number">{{i + 1}}.</span> {{step.title}}</a>
      </li>
    </ul>
  </div>
  <div class="content clearfix">
    <ng-content></ng-content>
  </div>
  <div class="actions clearfix" style="text-align: left;">
    <button [ngClass]="{'btn-outline-primary': selectedStep.isFirstStep,'btn-primary': !selectedStep.isFirstStep}" class="btn btn-fw" (click)="onPrevious()" i18n="@@wizard-wizard-actions-previous_button">Previous</button>
    <button *ngIf="!selectedStep.isLastStep" class="btn btn-fw btn-primary" (click)="onNext()" i18n="@@wizard-wizard-actions-next_button">Next</button>
    <button *ngIf="selectedStep.isLastStep" class="btn btn-fw btn-primary" (click)="onFinish()" appLoadingElement [content]="'wizard-wizard-actions-finish_button'">Finish</button>
    <ng-content select=".afterFinishButton"></ng-content>
    <button *ngIf="isEnableCancelButton" class="btn btn-fw btn-light" (click)="onCancel()" i18n="@@wizard-wizard-actions-cancel_button">Cancel</button>
    <ng-content select=".afterCancelButton"></ng-content>
  </div>
</div>
