<div class="modal-content">
  <div class="modal-header">
    <div>
      <h5 class="modal-title" style="width: 100%" i18n="@@voucher-runner-title">Run program for a voucher</h5>
      <p class="row col-12" i18n="@@voucher-runner-batch-export-code-sub-title">Let's export batch code for voucher "{{voucher.name}}"</p>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="cmxform">
      <fieldset>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="txtFrom" i18n="@@voucher-runner-batch-export-code-from-number">Phát hành mã từ số</label>
              <input type="number" class="form-control" id="txtFrom" name="txtFrom">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="txtTo" i18n="@@voucher-runner-batch-export-code-to-number">đến số</label>
              <input type="number" class="form-control" id="txtTo" name="txtTo">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="applyRangeTime" i18n="@@voucher-runner-effective-time">Thời gian có hiệu lực</label>
          <app-date-range-picker [(dateRange)]="dateRange"></app-date-range-picker>
        </div>
        <div class="form-group">
          <label for="txtPrefix" i18n="@@voucher-runner-batch-export-code-prefix">Tiền tố của mã (nếu có - 2 kí tự)</label>
          <input type="text" class="form-control" id="txtPrefix" name="txtPrefix">
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="submit()">Ok</button>
    <button type="button" class="btn btn-light" data-dismiss="modal" (click)="cancel()">Cancel</button>
  </div>
</div>
