<app-card title="Give voucher with love!" i18n-title="@@give-voucher-title" i18n-subTitle="@@give-voucher-sub-title" subTitle="This page allows you give a voucher for one or many members">

  <app-wizard (cancelClicked)="onWizardCancel()" (finishClicked)="onWizardFinish()">
    <app-wizard-step isFirstStep="true" i18n-title="@@promotions-create_edit_promotion-wizard_step-vouchers_title_field" (beforeNext)="beforeNextStep1()"
      title="Vouchers">
      <form id="promotionForm" #f="ngForm">
        <div class="row">
          <div class="form-group col-md-12">
            <label>Voucher</label>
            <label class="require">*</label>
            <app-select2 [(itemsSource)]="vouchers" [(selectedItem)]="selectedVoucher" placeHolder="Select a voucher"
              displayPropertyName="name" (selectedItemChange)="onSelectedVoucherChanged()"></app-select2>
          </div>
          <div class="form-group col-md-12">
            <label i18n="@@give-voucher-selected-voucher">Mã voucher đã chọn</label>
            <label class="form-control">{{selectedVoucher.code}}&nbsp;</label>
          </div>
          <div class="form-group col-md-12">
            <label for="applyDays" i18n="@@give-voucher-effect-days">Số ngày áp dụng</label>
            <label class="require">*</label>
            <input id="applyDays" class="form-control" [(ngModel)]="applyDays" [ngModelOptions]="{standalone: true}"  name='applyDays'
              required appInputNumber>
          </div>
          <div class="form-group col-md-12">
            <label i18n="@@give-voucher-notification-message">Nội dung thông báo</label>
            <label class="require">*</label>
            <textarea type="number" class="form-control" rows="6" [ngModelOptions]="{standalone: true}" [(ngModel)]="notificationMessage"></textarea>
          </div>
        </div>
      </form>
    </app-wizard-step>
    <app-wizard-step isLastStep="true" i18n-title="@@promotions-create_edit_promotion-wizard_step-custmer_title_field"
      title="Member Target">
      <app-member-home canAddOrUpdateMember="false"></app-member-home>
    </app-wizard-step>
  </app-wizard>

</app-card>
