.promotion-status > ul {
    list-style: none !important;
}
.promotion-status > ul > li{
    display: inline;
    margin-left: .5em !important;
}

.promotion-status > ul > li .badge, :host ::ng-deep .status-badge { 
    font-size: 0.8rem;
}