<div class="modal-content">
  <div class="modal-header">
    <div>
      <h5 class="modal-title" i18n="@@user_groups-list-change-permission-scheme-title">Change permission scheme</h5>
      <p i18n="@@user_groups-list-change-permission-scheme-sub-title">Select other permission scheme for user group "{{userGroup.name}}"</p>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row" style="margin: 0px">
      <div class="col-12" style="padding: 0px">
        <app-txt-search #txtSearch i18n-searchPlaceholder="@@user_groups-list-change-permission-scheme-search-holder" searchPlaceholder="Search by permission scheme name"></app-txt-search>
      </div>
    </div>
    <div class="card dialog-body">
      <div class="dialog-row">
        <div class="form-group radio-container">
          <div *ngFor="let scheme of schemes | userGroupPermissionSchemeListFilter: txtSearch.searchKey" class="radio-a-group">
            <app-radio name="permission-scheme" isChecked="selectedSchemeId === value" value="{{scheme._id}}" (valueChanged)="onValueChanged($event)"></app-radio>
            <a href="">{{scheme.name}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="submit()">OK</button>
    <button type="button" class="btn btn-light" data-dismiss="modal" (click)="cancel()" i18n="@@user_groups-list-change-permission-scheme-cancel">Cancel</button>
  </div>
</div>
