<app-card>
  <div class="command-region">
    <div class="template-demo">
      <button type="button" class="btn btn-primary btn-md" (click)="navigateToEditPage()" i18n="@@news_management-news_details-news_edit_button">
        <i class="mdi mdi-pencil"></i>Edit News</button>
      <button type="button" (click)="changeNewsStatus()" appNewsActionButton [status]="newsModel.status">Publish</button>
      <!-- <button type="button" class="btn btn-danger btn-md">
        <i class="mdi mdi-eye-off"></i>Deactivate</button> -->
      <div class="dropdown">
        <button class="btn btn-light icon-btn dropdown-toggle" type="button" id="dropdownMenuIconButton3" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="mdi mdi-dots-horizontal"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton3">
          <a class="dropdown-item" (click)="deleteNews(newsModel)">Delete</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row profile-page" style="max-height: 100%">
    <div class="col-md-12">
      <div class="profile-body" style="padding-top: 0px">
        <ul class="nav tab-switch" role="tablist">
          <li class="nav-item">
            <a aria-controls="news-details" aria-selected="true" class="nav-link active show" data-toggle="pill" i18n="@@news_management-news_detail-news_information_tab"
              href="#news-details" id="news-details-tab" role="tab">News</a>
          </li>
          <li class="nav-item">
            <a aria-controls="news-statistic" aria-selected="false" class="nav-link" data-toggle="pill" i18n="@@news_management-news_detail-news_statistic_tab"
              href="#news-statistic" id="news-statistic-tab" role="tab">Statistic</a>
          </li>
        </ul>
        <div class="row">
          <div class="col-md-12">
            <div class="tab-content tab-body" id="profile-log-switch">
              <div class="tab-pane fade show active pr-3" id="news-details" role="tabpanel" aria-labelledby="news-details-tab">
                <div class="row">
                  <div class="col-7">
                    <div class="row">
                      <div class="col-12">
                        <img class="img-fluid"
                        src="{{base64Image}}">
                      </div>
                    </div>
                  </div>
                  <div class="col-5">
                    <div class="row">
                      <div class="col-9">
                        <h4>{{newsModel.title}}</h4>
                      </div>
                      <div class="col-3">
                        <div appNewsStatus [status]="newsModel.status">
                        </div>
                      </div>
                    </div>
                    <div class="row text-gray d-md-flex d-none">
                      <div class="col-6 d-flex">
                        <p class="mb-0 mr-2 text-muted text-muted" i18n="@@news_detail-created_on">Created on</p>
                        <p class="Last-responded mr-2 mb-0 text-muted text-muted">{{getRelativeTime(newsModel.create_on)}}</p>
                      </div>
                      <div class="col-6 d-flex">
                        <p class="mb-0 mr-2 text-muted text-muted" i18n="@@news_detail-last_edited_on">Last edited on</p>
                        <p class="Last-responded mr-2 mb-0 text-muted text-muted">{{getRelativeTime(newsModel.updated_on)}}</p>
                      </div>
                    </div>
                    <div class="row text-gray d-md-flex d-none">
                      <div class="col-6 d-flex">
                        <p class="mb-0 mr-2 text-muted text-muted" i18n="@@news_detail-created_by">Created by</p>
                        <p class="Last-responded mr-2 mb-0 text-muted text-muted">{{newsModel.create_by}}</p>
                      </div>
                      <div class="col-6 d-flex">
                        <p class="mb-0 mr-2 text-muted text-muted" i18n="@@news_detail-last_edited_by">Last edited by</p>
                        <p class="Last-responded mr-2 mb-0 text-muted text-muted">{{newsModel.updated_by}}</p>
                      </div>
                    </div>
                    <div class="row mt-5 mb-5" style="max-height: 85%; overflow-y: scroll">
                      <div class="col-12">
                        <p class="lead">
                          {{newsModel.content}}
                        </p>
                      </div>
                    </div>
                    <!-- If status is NOT PUBLISHED -->
                    <div class="row text-gray d-md-flex d-none last-row" style="position:absolute; bottom: 0px;" *ngIf="newsModel.status!=1">
                      <div class="col-6 d-flex">
                        <p class="mb-0 mr-2 text-muted text-muted" i18n="@@news_detail-not_published_yet">Not published</p>
                      </div>
                      <div class="col-6 d-flex">
                        <p class="mb-0 mr-2 text-muted text-muted" i18n="@@news_detail-published_by_no_one">Published by no one</p>
                      </div>
                    </div>
                    <!-- If status is PUBLISHED -->
                    <div class="row text-gray d-md-flex d-none last-row" *ngIf="newsModel.status==1">
                      <div class="col-6 d-flex">
                        <p class="mb-0 mr-2 text-muted text-muted" i18n="@@news_detail-published_on">Published on</p>
                        <p class="Last-responded mr-2 mb-0 text-muted text-muted">{{getRelativeTime(newsModel.publishedOn)}}</p>
                      </div>
                      <div class="col-6 d-flex">
                        <p class="mb-0 mr-2 text-muted text-muted" i18n="@@news_detail-published_by">Published by</p>
                        <p class="Last-responded mr-2 mb-0 text-muted text-muted">{{newsModel.publishedBy}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="news-statistic" role="tabpanel" aria-labelledby="news-statistic-tab">
                  <div class="row">
                      <div class="col-md-6">
                        <app-card>
                            <h4 class="card-title mb-0" i18n="@@news_detail-view_count">View Count</h4>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="d-inline-block pt-3">
                                <div class="d-flex">
                                  <h2 class="mb-0">{{newsModel.viewCount}}</h2>
                                </div>
                              </div>
                              <div class="d-inline-block">
                                <div class="bg-success px-4 py-2 rounded">
                                  <i class="mdi mdi-chart-bubble text-white icon-lg"></i>
                                </div>
                              </div>
                            </div>
                        </app-card>
                      </div>
                      <div class="col-md-6 grid-margin">
                      </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-card>
