.template-demo > .btn {
  margin-top: 0rem !important;
}

.profile-page .profile-body .tab-body {
  border: none;
  padding: 20px 0px 0px 0px;
}

.lead {
  font-size: 1rem;
  font-weight: 300;
}

.content {
  max-height: 80%;
  overflow-y: scroll
}

.last-row {
  position:absolute;
  bottom: 0px;
  width: 100%;
}