<app-card [title]="cardTitle" [subTitle]="cardDescription">
  <form class="cmxform" id="createEditForm" [formGroup]="formGroup">
    <fieldset>
            <!-- name field -->
            <div class="form-group" [ngClass]="{
              'has-danger': name.invalid && (name.dirty || name.touched),
              'has-success': name.valid && (name.dirty || name.touched)
         }">
              <label for="name" i18n="@@customer-create_edit_customer-label-name_field">Name </label>
              <label class="require">*</label> 
              <input id="name" required class="form-control" formControlName="name" i18n-placeholder="@@customer-create_edit_customer-input-name_place_holder"
                placeholder="Enter customer name" [(ngModel)]="customer.name">
              <label id="name-error" class="error mt-2 text-danger" for="name" i18n="@@customer-create_edit_customer-label-name_require" *ngIf="name.invalid && (name.dirty || name.touched)"> Please provide customer name</label>
              <br *ngIf="!(name.invalid && (name.dirty || name.touched))"/>
            </div>
            <div class="form-group">
              <label for="phone" i18n="@@customer-create_edit_customer-label-phone_field">Phone number </label>
              <label class="require">*</label>
              <input id="phone" required class="form-control" formControlName="phone" i18n-placeholder="@@customer-create_edit_customer-input-phone_place_holder"
                placeholder="Enter customer phone" [(ngModel)]="customer.phoneNumber">
              <label id="phone-error" class="error mt-2 text-danger" for="phone" i18n="@@customer-create_edit_customer-label-phone_require" *ngIf="phone.invalid && (phone.dirty || phone.touched)">Please provide phone number</label>
              <br *ngIf="!(phone.invalid && (phone.dirty || phone.touched))"/>
            </div>
            <div class="form-group">
              <label for="birthday" i18n="@@customer-create_edit_customer-label-birthday_field">Birthday </label>
              <input id="birthday" required class="form-control" formControlName="birthday" type="date"
                [(ngModel)]="customer.birthday">
              <!-- input form -->
            </div>
            <div class="form-group">
              <label for="type" i18n="@@customer-create_edit_customer-label-type_field">Customer Type </label>
              <select id="typeId" class="form-control" formControlName="typeId">
                <option *ngFor="let type of types" [ngValue]="type">{{type.name}}</option>
              </select>
              <!-- input form -->
            </div>
            <div class="form-group">
              <label for="sex" i18n="@@customer-create_edit_customer-label-sex_field">Sex </label>
              <select id="sexId" class="form-control" formControlName="sexId">
                <option *ngFor="let sex of sexes" [ngValue]="sex">{{sex.name}}</option>
              </select>
              <!-- input form -->
            </div>
            <div class = "row">
              <div class="col-md-5"></div>
              <label for="address" i18n="@@customer-create_edit_customer-label-address_field">Address </label>
              <!-- input form -->
              <div class="col-md-2"></div>
              <label for="district" i18n="@@customer-create_edit_customer-label-district_field">District </label>
              <!-- input form -->
              <div class="col-md-3"></div>
              <label for="city" i18n="@@customer-create_edit_customer-label-city_field">City/Province </label>
              <!-- input form -->
            </div>
            <div class="form-group">
              <label for="email" i18n="@@customer-create_edit_customer-label-email_field">Email </label>
              <input id="email" class="form-control" formControlName="email" type="email" i18n-placeholder="@@customer-create_customer-input-email_place_holder"
                placeholder="Enter email">
              <label id="email-error" class="error mt-2 text-danger" for="email" *ngIf="errorMessage.email"> {{ errorMessage.email }}</label>
            </div>
            <div class = "row">
              <button *ngIf="!isEdit" class="btn btn-success mr-2" i18n="@@customer-create_edit_customer-button-submit" (click)="submit()">Submit</button>
              <button *ngIf="isEdit" class="btn btn-success  mr-2" i18n="@@customer-create_edit_customer-button-save" (click)="savecustomer()">Save</button>
              <button class="btn btn-light  mr-2" i18n="@@customer-create_edit_customer-button-cancel" (click)="cancel()">Cancel</button>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <div class="form-group" *ngIf="!isEdit">
                <div class="form-check form-check-flat">
                  <label class="form-check-label">
                    <input type="checkbox" formControlName="createAnother" class="form-check-input form-control" [(ngModel)]="isCreateAnother">
                    <i class="input-helper"></i>
                    <label class="form-check-label" i18n="@@customer-create_edit_customer-label-create_another_customer"> Create another</label>
                  </label>
                </div>
              </div>
            </div>
    </fieldset>
  </form>
</app-card>