<!-- partial -->
<app-voucher-filter [(voucherFilter)]="voucherFilter" (runFilterClicked)="onRunFilterClicked()" [resetFunction]="resetFilter"></app-voucher-filter>
<app-card title="Vouchers" i18n-title="@@vouchers-title">
    <div class="command-region">
        <!-- <button type="button" class="btn btn-primary btn-fw pull-right" (click)="navigateToCreatePage()">
            <i class="mdi mdi-plus"></i>
            <span i18n="@@vouchers-create-voucher">Create voucher</span>
        </button> -->
    </div>
    <app-dg #dg (pageChanged)="onPageChanged($event)" [countFunction]="count" hideSearchInput="true">
        <tr role="row">
            <th i18n="@@voucher-campaign-name">Tên chương trình</th>
            <th i18n="@@voucher-type-using-purpose">Mục đích sử dụng</th>
            <th i18n="@@vouchers-discount">Discount</th>
            <th i18n="@@vouchers-createdDate">Ngày tạo</th>
        </tr>
        <tbody>
            <tr *ngFor="let item of items">
                <td>
                    <p class="a-clickable pull-left centered" (click)="navigateTovoucherDetailPage(item._id)">{{item.name}}</p>
                </td>
                <td>{{item.operationType}}</td>
                <td>{{item.discount}}</td>
                <td>{{item.create_on}}</td>
                <td>
                    <button appCanUpdate type="button" class="btn btn-light btn-custom-css" (click)="navigateToEditPage(item)">
                        <i class="mdi mdi-pencil text-primary" aria-hidden="false"></i>
                        <span i18n="@@vouchers-edit">Edit</span>
                    </button>
                    <button type="button" class="btn btn-sm btn-light " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="mdi mdi-dots-horizontal btn-option-custom font-weight-bold"></i>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" (click)="deletevoucher(item)" href="javascript:;" i18n="@@voucher-detail-delete-voucher">Delete</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </app-dg>
</app-card>
