<div class="modal-content">
  <div class="modal-header">
    <div>
      <h5 class="modal-title" i18n="@@permission-scheme-detail-dlg-title">View permission scheme detail</h5>
      <p i18n="@@permission-scheme-detail-dlg-sub-title">View permission detail of schema {{scheme.name}}</p>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row" style="margin: 0px">
      <div class="col-4" style="padding: 0px">
        <app-txt-search #txtSearch i18n-searchPlaceholder="@@permission-scheme-detail-dlg-search-holder" searchPlaceholder="Search by business name"></app-txt-search>
      </div>
    </div>
    <div class="card dialog-body">
      <div class="dialog-row">
        <table class="table dataTable no-footer">
          <thead>
            <tr>
              <th i18n="@@permission-scheme-detail-tbl-module-name">Business Name</th>
              <th i18n="@@permission-scheme-detail-tbl-data-scope">Data Scope</th>
              <th i18n="@@permission-scheme-detail-tbl-insert">Insert</th>
              <th i18n="@@permission-scheme-detail-tbl-update">Update</th>
              <th i18n="@@permission-scheme-detail-tbl-delete">Delete</th>
              <th i18n="@@permission-scheme-detail-tbl-full-control">Full Control</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detail of schemeDetails | controllerFilter: txtSearch.searchKey">
              <td>{{detail.controller.name}}</td>
              <td appDatascope [dataScope]="detail.data_scope">
              </td>
              <td>
                <div class="form-check form-check-flat" style="margin-top:-11px;padding-left:0px">
                  <label class="form-check-label label-readonly" style="margin-top:0px;padding-left:0px">
                    <input type="checkbox" [checked]="detail.is_insert">
                    <i class="input-helper"></i>
                  </label>
                </div>
              </td>
              <td>
                <div class="form-check form-check-flat" style="margin-top:-11px;padding-left:0px">
                  <label class="form-check-label label-readonly" style="margin-top:0px;padding-left:0px">
                    <input type="checkbox" [checked]="detail.is_update">
                    <i class="input-helper"></i>
                  </label>
                </div>
              </td>
              <td>
                <div class="form-check form-check-flat" style="margin-top:-11px;padding-left:0px">
                  <label class="form-check-label label-readonly" style="margin-top:0px;padding-left:0px">
                    <input type="checkbox" [checked]="detail.is_delete">
                    <i class="input-helper"></i>
                  </label>
                </div>
              </td>
              <td>
                <div class="form-check form-check-flat" style="margin-top:-11px;padding-left:0px">
                  <label class="form-check-label label-readonly" style="margin-top:0px;padding-left:0px">
                    <input type="checkbox" [checked]="detail.is_insert && detail.is_update && detail.is_delete">
                    <i class="input-helper"></i>
                  </label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="close()">OK</button>
  </div>
</div>
