
<app-card title="Menu" i18n-title="@@pos-menu-item-list-title" subTitle= "{{subTitle}}">
    <app-dg #dg searchLabel="Search by name, type" i18n-searchLabel="@@pos-menu-item-list-txt-search" (pageChanged)="onPageChanged($event)"
        [countFunction]="count">
        <tr>
            <th></th>
            <th style="width: 55%"></th>
        </tr>
        <tbody>
            <tr *ngFor="let menuItem of pos_menu  | posMenuFilter: dg.searchKey">
                <td>
                    <div class="card-body">
                        <div class="d-flex flex-row">
                            <div [appMenuItemAvarta] = "menuItem.image"> </div>
                            <div class="ml-3">
                                <h6>
                                    {{menuItem.itemId}} - {{menuItem.name}} 
                                    <span *ngIf="!isShowAll" [appMenuItemStatus]="menuItem.status"> </span>
                                </h6>
                                <p class="mt-2">{{menuItem.itemType.name}}</p>
                                <p class="text-muted" style="word-break: break-word">{{menuItem.description}}</p>
                                <p class="mt-2">{{menuItem.otsPrice}}</p>
                            </div>
                        </div>
                    </div>
                </td>
                <td >
                    <div class="template-demo" *ngIf="!isShowAll">
                        <button type="button" class="btn btn-inverse-primary btn-rounded btn-fw" (click)="edit(menuItem)"  style="float: left;">Edit</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </app-dg>
</app-card>