<app-card title="Menu Toppings"
  subTitle="View, edit name for menu topping and topping options. Tip: Click on Option name to edit"
  i18n-subTitle="@@menu-item-topping-sub-title">
  <form id="editable-form">
    <div class="accordion accordion-body-filled" id="accordion-6" role="tablist">
      <div class="card" *ngFor="let topping of toppings">
        <div class="card-header" role="tab" id="headingOne-6" style="display: flex; align-items: baseline;">
          <h5 class="mb-0">
            <a data-toggle="collapse" href="#collapseOne-6" aria-expanded="false" aria-controls="collapseOne-6"
              class="collapsed">
              <div style="display:flex">
                <div class="topping-block">
                  <span i18n="@@menu-item-topping-name">Name</span>
                  <div class="badge badge-outline-info badge-pill info">{{topping.name}}
                  </div>
                </div>
                <div class="topping-block">
                  <span i18n="@@menu-item-topping-ipos-id">IPOS Id</span>
                  <div class="badge badge-outline-info badge-pill info">{{topping.iposId}}</div>
                </div>
                <div class="topping-block">
                  <span i18n="@@menu-item-topping-min-permitted">Min permitted </span>
                  <div class="badge badge-outline-info badge-pill info">{{topping.minPermitted}}</div>
                </div>
                <div class="topping-block">
                  <span i18n="@@menu-item-topping-max-permitted">Max permitted</span>
                  <div class="badge badge-outline-info badge-pill info">{{topping.maxPermitted}}</div>
                </div>
              </div>
            </a>
          </h5>
          <button type="button" class="btn btn-inverse-primary btn-rounded btn-sm" style="margin-top:-8px"
            (click)="editTopping(topping)" [popover]="popTemplate" placement="right" outsideClick="true"
            i18n="@@menu-item-topping-btn-edit-name">Edit
            name</button>
          <ng-template #popTemplate>
            <div style="display:flex">
              <input type="text" name="newName" id="newName" class="form-control input-md" [(ngModel)]="editToppingName"
                [ngModelOptions]="{standalone: true}">
              <i class="mdi mdi-check" style="cursor:pointer;margin-top: auto;
              margin-bottom: auto;
              margin-left: 5px;" (click)="submitToEditToppingName(topping)"></i>
            </div>
          </ng-template>
        </div>
        <div id="collapseOne-6" class="collapse" role="tabpanel" aria-labelledby="headingOne-6"
          data-parent="#accordion-6">
          <div class="card-body">
            <p class="lead" i18n="@@menu-item-topping-option">
              Options
            </p>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th i18n="@@menu-item-topping-ipos-id">IPOS Id</th>
                  <th i18n="@@menu-item-topping-option-name">Option name</th>
                  <th i18n="@@menu-item-topping-option-ta-price">Take away price</th>
                  <th i18n="@@menu-item-topping-option-ots-price">On the seat price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let option of topping.options">
                  <td>{{option.iposId}}</td>
                  <td>
                    <app-input-editable [(value)]="option.name" (valueChange)="toppingOptionNameChanged(option)">
                    </app-input-editable>
                  </td>
                  <td>{{option.taPrice | currency:'đ':'symbol':'1.0-2'}}</td>
                  <td>{{option.otsPrice | currency:'đ':'symbol':'1.0-2'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </form>
</app-card>
