<app-card title="Voucher Filter" i18n-title="@@vouchers-filter-list-table-lbl-title">
  <div class="row">
    <div class="col-sm-3">
      <input class="form-control" i18n-placeholder="@@vouchers-filter-list-table-placeholder-text" placeholder="Name/Code contain"
        aria-label="Name" [(ngModel)]="voucherFilter.name" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <app-date-picker class="dataTables_customfilter startdatepicker" title="Created Date" i18n-title="@@list-vouchers-th-create-date"
      [(date)]="voucherFilter.create_on" style="margin: 0 5px;"></app-date-picker>
    <app-drop-down-check-boxes class="dataTables_customfilter" title="Status" i18n-title="@@list-vouchers-th-status" [itemSources]="statuses"
      [(selectedItems)]="selectedStatus" style="margin: 0 5px;"></app-drop-down-check-boxes>
    <div class="row">
      <button type="submit" class="btn btn-primary mr-2" (click)="runFilter()">
        <i class="mdi mdi-filter-outline"></i>
        <span i18n="@@vouchers-filter-list-table-btn-run_filter">Run filter</span>
      </button>
      <button type="submit" class="btn btn-light mr-2" (click)="resetFilter()">
        <i class="mdi mdi-filter-remove-outline"></i>
        <span i18n="@@vouchers-filter-list-table-btn-reset_filter">Reset filter</span>
      </button>
    </div>
  </div>
</app-card>
<br/>