.inside-control-icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}

.require {
  color: #ff7474;
}

.btn-pink {
  color: palevioletred;
}

.btn-fw {
  line-height: 18px;
  float: right;
  padding: 5px;
}

.btn-custom-css {
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 5px;
}

.btn-option-custom {
  text-align: center;
}

.change-color {
  color: blue;
  cursor: pointer;
}

.img-sm {
  width: 15px;
  height: 15px;
  float: left;
  margin-right: 5px;
}

.dataTables_wrapper label {
  display: inline-flex;
}

.more-actions-dropdown {
  position: absolute;
  transform: translate3d(0px, 33px, 0px);
  top: 0px;
  left: 0px;
  will-change: transform;
}

.more-actions-dropdown-btn {
  margin-left: 5px;
}
