<div class="modal-content" #dialogElem>
  <div class="modal-header" #headerElem>
    <h5 class="modal-title">{{title}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body" #bodyElem>
    <p>{{message}}</p>
  </div>
  <div class="modal-footer" #footerElem>
    <button type="button" i18n="@@modal-confirm-submit-button" class="btn btn-success" *ngIf="actionButtonLabel != undefined && actionButtonLabel != ''" #actionButtonElem
      (click)="action()">Submit</button>
    <button type="button" i18n="@@modal-confirm-cancel-button" class="btn btn-light" data-dismiss="modal" *ngIf="closeButtonLabel != undefined && closeButtonLabel != ''"
      #closeButtonElem (click)="close()">Cancel</button>
  </div>
</div>
