<div class="row">
  <div class="col-md-2 grid-margin stretch-card">
  </div>
  <div class="col-md-8 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title" i18n="@@user-edit_user-h4-edit_user_title">Edit User</h4>
        <p class="card-description" i18n="@@user-edit_user-h4-edit_user_description">
          Edit access information of an user account
        </p>
        <form class="cmxform" id="editUserForm" [formGroup]="formGroup">
          <fieldset>
            <!-- Email field -->
            <div class="form-group">
              <label for="email" i18n="@@user-create_user-label-email_field">Email </label>
              <label class="require">*</label>
              <input id="email" class="form-control" formControlName="email" type="email" [ngClass]="{'form-control-danger': errorMessage.email }"
                i18n-placeholder="@@user-create_user-input-email_place_holder" placeholder="Enter email">
              <label id="email-error" class="error mt-2 text-danger" for="email" *ngIf="errorMessage.email"> {{ errorMessage.email }}</label>
            </div>

            <!-- Fullname field -->
            <div class="form-group">
              <label for="fullname" i18n="@@user-create_user-label-fullname_field">Full name </label>
              <label class="require">*</label>
              <input id="fullname" class="form-control" formControlName="fullname" type="text" [ngClass]="{'form-control-danger': errorMessage.fullname }"
                i18n-placeholder="@@user-create_user-input-fullname_place_holder" placeholder="Enter full name">
              <label id="fullname-error" class="error mt-2 text-danger" for="fullname" *ngIf="errorMessage.fullname"> {{ errorMessage.fullname }}</label>
            </div>

            <!-- Username field -->
            <div class="form-group">
              <label for="username" i18n="@@user-create_user-label-username_field">Username </label>
              <label class="require">*</label>
              <input id="username" class="form-control" formControlName="username" type="text" [ngClass]="{'form-control-danger': errorMessage.username }"
                i18n-placeholder="@@user-create_user-input-username_place_holder" placeholder="Enter username">
              <label id="username-error" class="error mt-2 text-danger" for="username" *ngIf="errorMessage.username">
                {{ errorMessage.username }}</label>
            </div>

            <!-- Is Active field -->
            <div class="form-group">
              <div class="form-check form-check-flat">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input form-control" formControlName="isActive">
                  <i class="input-helper"></i>
                  <label class="form-check-label" i18n="@@user-edit_user-label-is_active"> Is Active</label>
                </label>
              </div>
            </div>

            <!-- Form buttons -->
            <button class="btn btn-success mr-2" i18n="@@user-edit_user-button-update" (click)="submit()">Update</button>
            <button class="btn btn-light" i18n="@@user-create_user-button-cancel" (click)="cancel()">Cancel</button>
          </fieldset>
        </form>
      </div>
    </div>

  </div>
  <div class="col-md-2 grid-margin stretch-card">
  </div>
</div>
