<app-card title="Update Menu Item">
  <form class="cmxform" id="createEditForm" [formGroup]="formGroup">
    <fieldset>
      <div class="row">
        <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <label for="image" i18n="@@pos-menu-item-image">Avarta</label>
          <app-dropify #posImageUploader allowedFileExtensions="jpg png jpeg" maxFileSize="500K"
            [(file)]="menuItem.image"></app-dropify>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12" [ngClass]="{'has-danger': name.invalid && (name.dirty || name.touched)}">
          <label for="name" i18n="@@pos-menu-item-th-name">Name</label>
          <input id="name" class="form-control" formControlName="name"
            [ngClass]="{'has-danger': name.invalid && (name.dirty || name.touched) }" [(ngModel)]="menuItem.name"
            placeholder="Enter name">
          <div class="form-control-feedback" *ngFor="let error of errors.name">
            <p *ngIf="name.hasError(error.type) && (name.dirty || name.touched)" class="error mt-2 text-danger">{{translateService.translate(error.message,
                name.value)}}
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12">
          <label for="groupName" i18n="@@pos-menu-item-th-group-name">Group name</label>
          <input id="groupName" class="form-control" formControlName="groupName" [(ngModel)]="menuItem.groupName"
            placeholder="Enter group name">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12">
          <label for="size">Size</label>
          <div class="row" style="margin-bottom: 10px">
            <div style="margin-left: 10px">
              <div class="form-radio form-radio-flat" style="margin-top:0;margin-bottom:0">
                <label class="form-check-label">
                  <input type="radio" name="give-voucher-skip-option" class="form-check-input"
                    [checked]="menuItem.size === 'S'" value="S" (change)="menuItem.size = $event.target.value">
                  <i class="input-helper"></i>
                  <label class="chk-label" style="margin-top:10px">S</label>
                </label>
              </div>
            </div>
            <div style="margin-left: 10px">
              <div class="form-radio form-radio-flat" style="margin-top:0;margin-bottom:0">
                <label class="form-check-label">
                  <input type="radio" name="give-voucher-skip-option" class="form-check-input"
                    [checked]="menuItem.size === 'M'" value="M" (change)="menuItem.size = $event.target.value">
                  <i class="input-helper"></i>
                  <label class="chk-label" style="margin-top:10px">M</label>
                </label>
              </div>
            </div>
            <div style="margin-left: 10px">
              <div class="form-radio form-radio-flat" style="margin-top:0;margin-bottom:0">
                <label class="form-check-label">
                  <input type="radio" name="give-voucher-skip-option" class="form-check-input"
                    [checked]="menuItem.size === 'L'" value="L" (change)="menuItem.size = $event.target.value">
                  <i class="input-helper"></i>
                  <label class="chk-label" style="margin-top:10px">L</label>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12"
          [ngClass]="{'has-danger': description.invalid && (description.dirty || description.touched)}">
          <label for="description" i18n="@@pos-menu-item-th-description">Description</label>
          <input id="description" class="form-control" formControlName="description"
            [ngClass]="{'has-danger': description.invalid && (description.dirty || description.touched) }"
            [(ngModel)]="menuItem.description" placeholder="Enter description">
          <div class="form-control-feedback" *ngFor="let error of errors.description">
            <p *ngIf="description.hasError(error.type) && (description.dirty || description.touched)"
              class="error mt-2 text-danger">{{translateService.translate(error.message,
                description.value)}}
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12">
          <div class="form-check form-check-flat" style="margin-top: 0; margin-bottom: 0">
            <label class="form-check-label">
              <input type="checkbox" formControlName="canExchangePoint" class="form-check-input form-control"
                [(ngModel)]="menuItem.canExchangePoint">
              <i class="input-helper"></i>
              <label class="chk-label" style="padding-top: 0.1rem; font-weight: 300;"
                i18n="@@menu-item-edit-label-can_exchange_point">
                Can Exchange Point
              </label>
            </label>
          </div>
        </div>
      </div>
      <!-- Form buttons -->
      <div class="form-cmds">
        <button class="btn btn-success btn-small mr-2" [disabled]="formGroup.invalid" i18n="@@common_button-submit"
          (click)="submit()">Submit</button>
        <button class="btn btn-light btn-small mr-3" i18n="@@common_button-cancel" (click)="cancel()">Cancel</button>
        <!-- <div class="form-check form-check-flat">
            <label class="form-check-label" style="padding-left: 4px">
              <input type="checkbox" formControlName="isApplyForAllItem" class="form-check-input form-control" [(ngModel)]="isApplyAll">
              <i class="input-helper"></i>
              <label class="chk-label" i18n="@@menu-tem-label-apply_for_all_item"> Apply all for same items</label>
            </label>
          </div> -->
      </div>
      <!-- Form buttons -->

    </fieldset>
  </form>
</app-card>
